/*

	#logo{
    	
	}

	

	body{
		background-color: #f4f4f4;
	}

	#total-pools{
		background-color: #4cb4c7;
	}
			
	#filling-up_pools{
		background-color: #7abecc;

	}

	#completed-pools{
		background-color: #7CD1C0;
	}

*/


/*@media screen and (max-width: 1000px) {
  body {
    font-size: 16px; /* adjust font size for smaller screens */
    width: 100%; /* make the page width 100% of the viewport */
    padding: 0; /* remove any padding from the body element */
  }
  
  /* any other styles you want to apply for smaller screens */
}

body{
	height: 618px;
width: 1447px;
left: 0px;
top: 0px;
border-radius: 0px;
background: #0E0E2C;


}

.message-container {
    position: fixed;
    top: -50px;
    left: 50%;
    transform: translateY(-50%);
}