

	#logo{
    	
	}

	

	body{
		background-color: #f4f4f4;
		

	 
	}

	#total-pools{
		background-color: #4cb4c7;
	}
			
	#filling-up_pools{
		background-color: #7abecc;

	}

	#completed-pools{
		background-color: #7CD1C0;
	}




@media only screen and (max-width: 1000px) {

	font-size: 16px;
}

@media only screen and (min-width: 600px) {

	font-size: 12px;
}