{% extends 'co_servings/main.html' %}

{% block content %}
<style type="text/css">
.button {

  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}



h6 {
    color:black;
  }


  h1 {
    color: black;

  }
 
  h4, h5, td {
    color: black;
  }
 


 


  
</style>


{% if user.is_authenticated %}

  <h1>Add Pubblic Pool</h1>
  <br/><br/>
  {% if submitted %}

      Your Project was Submitted Succefully!!!

  {% else %}

	<form action=" " method="POST">
	  	{% csrf_token %}

	  	{{ form.as_p }}

	  	<input type="submit" value="Submit" class="btn btn-secondary">

	</form>

   {% endif %}

<br/><br/>

{% else %}
<h1>Sorry! You Must Be Logged In To View This Page...</h1>
<a href="{% url 'login' %}">Login Here</a>

  
{% endif %}

{% endblock %}


<div>
<h4 style="margin-left: 0px; margin-top: 80px; color: lightgreen"><strong>Design-Build Method:</strong> </h4>
</div>


<hr>
<div>
<h5 style="color:grey; margin-left: 50px;">"A design-build company is responsible for managing a building project from the initial design stage to the final construction stage. Here are  the main tasks that a design-build company includes when making a design-build building:"</h5>
</div>
<div>
<h5 style="color:lightgreen; margin-left: 0px;"> How does'it work:</h5>
</div>
<div>
<h5 style="color:lightgreen; margin-left: 50px;"> Step 1:&nbsp&nbspPre-Construction Services:</h5>
<h5> The design-build company will work with the Borrower-C to establish the project goals, budget, and schedule. They will also determine the site, project, feasibility, secure permits and approvals, and perform environmental assessments. </h5>
</div>
<div>
<h5 style="color:lightgreen; margin-left: 50px;"> Step 2:&nbsp&nbsp Design Phase:</h5>
 
<h5> The design-build company will develop the design for the project based on the Borrower-C's needs, budget, and schedule. This includes architectural, structural, mechanical, electrical, and plumbing designs. They will also work with the client to choose materials and finishes.</h5></div>

<div>
<h5 style="color:lightgreen; margin-left: 50px;"> Step 3:&nbsp&nbsp Value Engineering:</h5> 

<h5>The design-build company will evaluate the design to ensure it meets the Borrower-C's requirements and budget. They will suggest cost-saving measures that don't compromise the quality or functionality of the project.</h5></div>

<div>
<h5 style="color:lightgreen; margin-left: 50px;"> Step 4:&nbsp&nbsp Construction Phase:
</h5> 

<h5>The design-build company will manage the construction of the project. They will hire subcontractors, manage the construction schedule, and ensure the project is built according to the design and specifications.</h5></div>

<div>
<h5 style="color:lightgreen; margin-left: 50px;"> Step 5:&nbsp&nbsp Quality Control:
</h5> 

<h5>The design-build company will ensure the quality of the project by monitoring the construction process, conducting regular inspections, and addressing any issues that arise.</h5></div>

<div>
<h5 style="color:lightgreen; margin-left: 50px;"> Step 6:&nbsp&nbsp Project Closeout:
</h5> 

<h5>The design-build company will manage the construction of the project. They will hire subcontractors, manage the construction schedule, and ensure the project is built according to the design and specifications.</h5></div>






<br>
<hr>