
{% extends 'co_servings/main.html' %}

{% load static %}

{% block content %}
<style type="text/css">
.button {

  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}



h6 {
    color:white;
  }


  h1 {
    color: white;

  }
 
  h4, h5, td {
    color: white;
  }
 


/* Your CSS styles here */
</style>

<div class="container" style="background-color: #0E0E2C; max-width: 320px; ">

{% if user.is_authenticated %}
  <a href="{% url 'gin' %}">
    <button class="button button4 stacked-buttons">Crowdfunding (FundCr)</button>
  </a>
  <a href="{% url 'pro' %}">
    <button class="button button4 stacked-buttons">Collateral</button>
  </a>
  <a href="{% url 'commit' %}">
    <button class="button button4 stacked-buttons">Borrowing</button>
  </a>
  <br><br>

  {% if submitted %}
    Your Selection was Submitted Successfully!!!
    <br><br>
  {% else %}
    <form action=" " method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit" class="btn btn-secondary">
    </form>
  {% endif %}

{% else %}
  <h6>Sorry! You Must Be Logged In To View This Page...</h6>
  <a href="{% url 'login' %}">Login Here</a>
{% endif %}

</div>

{% endblock %}
