{% extends 'co_servings/main.html' %}

{% block content %}
<body style="background-color: #0E0E2C; ">
<div class="container" style="background-color: #0E0E2C; margin-top: -30px;  max-width: 320px; " >  

<h2>Welcome to Your Dashboard, {{ user.username }}</h2>

<h3>Your Bookings 1:</h3>
<ul>
    {% for booking in user_bookings1 %}
        <li>{{ booking.name }}</li>
    {% endfor %}
</ul>

<h3>Your Bookings 2:</h3>
<ul>
    {% for booking in user_bookings2 %}
        <li>{{ booking.name }}</li>
    {% endfor %}
</ul>

<h3>Your Bookings 3:</h3>
<ul>
    {% for booking in user_bookings3 %}
        <li>{{ booking.name }}</li>
    {% endfor %}
</ul>

<h3>Your Bookings 4:</h3>
<ul>
    {% for booking in user_bookings4 %}
        <li>{{ booking.name }}</li>
    {% endfor %}
</ul>
<h3>Your Liquidity Submissions:</h3>
<ul>
    {% for liquidity in user_liquidity_submissions %}
        <li>{{ liquidity.name }}</li>
    {% endfor %}
</ul>

</div>
</body>
{% endblock %}
