{% extends 'co_servings/main.html' %}

{% block content %}
<style type="text/css">
.button {
  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}

h6 {
    color:white;
}

h1 {
    color: white;
}

h5, td {
    color: white;
}
</style>

<body style="background-color: #0E0E2C; ">
<div class="container" style="background-color: #0E0E2C; margin-top: -30px;  max-width: 320px; " >  
{% if user.is_authenticated %}

<!-- Your existing HTML code here -->

<div>
    <h4 style="margin-left: 0px; margin-top: 80px; color: lightgreen"> Welcome to Your Dashboard, {{ user.username }}</h4>
</div>

<h5>Your Bookings 1:</h5>
<ul>
    {% for booking1 in user_bookings1 %}
        <li>{{ bookings1.amount }}</li>
    {% endfor %}
</ul>

<h5>Your Bookings 2:</h5>
<ul>
    {% for booking2 in user_bookings2 %}
        <li style="color: lightgreen">{{ bookings2.amount }}</li>
    {% endfor %}
</ul>

<h5>Your Bookings 3:</h5>
<ul>
    {% for booking3 in user_bookings3 %}
        <li style="color: lightgreen">{{ bookings3.amount }}</li>
    {% endfor %}
</ul>

<h5>Your Bookings 4:</h5>
<ul>
    {% for booking4 in user_bookings4 %}
        <li style="color: lightgreen">{{ bookings4.amount }}</li>
    {% endfor %}
</ul>
<h5>Your Liquidity Submissions:</h5>
<ul>
    {% for liquidity in user_liquidity_submissions %}
        <li style="color: lightgreen">{{ liquidity.collateral_amount }}</li>
    {% endfor %}
</ul>-->

{% endif %}
</body>
{% endblock %}


