{% extends 'co_servings/main.html' %}

{% load static %}



{% block content %}
<style type="text/css">
.button {

  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}



h6 {
    color:black;
  }


  h1 {
    color: black;

  }
 
  h4, h5, td {
    color: black;
  }
 


 


  
</style>


				




<br>




<br>
<br>

<br>
<br>
<div>
<h5 style="margin-top: -40px;"> <strong>About Co-Serving App and Dapp</strong></h5>
<h5> Welcome to our cutting-edge real estate development app browser, designed to provide you with seamless access to decentralized application (Dapp) in the real estate industry. Our app is a user-friendly interface that connects you with a decentralized network of real estate developers, investors, and other stakeholders, making the entire process of real estate development more transparent, efficient, and secure.

With our app, you can easily navigate the complexities of real estate development projects by leveraging the benefits of blockchain technology. This includes access to smart contracts, which streamline the process of property acquisition, transfer, and management, reducing the need for intermediaries, and increasing efficiency.

Our app provides you with real-time data, including market trends, property valuations, and other key metrics, helping you make informed decisions about investment opportunities. In addition, our platform provides you with access to a global network of real estate professionals, allowing you to easily collaborate, share information and expand your network.

Whether you're a developer, investor, or simply interested in the real estate industry, our app provides you with the tools and resources you need to succeed. Join us today and experience the future of real estate development.
 <!--<strong> Upload data </strong> "Add-Public-Pool"</h5>
<h5 style="color:black; margin-left: 380px;"> Investors: <strong> Upload data</strong>"Add-Private-Pool"--</h5>
<h5 style="color:black; margin-left: 380px;"> Property Owners: <strong> Upload data</strong> "Add- Project "--></h5>
</div>
<hr>	


<br>



<!--<div class="container">


		<div class="row">
	

	  		<div class="col">

	  	

	  			
	  				<a href="{% url 'white' %}">
                    
                  <button class="button button4" style="background-color:#795548; color:white; margin-left: 455px; padding-right: 10px;  margin-bottom: 30px;"> Step-B: Smart Contracts</button>    

                </a> 

	  		</div>

	    </div>	
			
		<div class="row">

			<div class="col">

	  	

	  			
	  			
	  				<a href="{% url 'how' %}">
                    
                  <button class="button button4" style="background-color:#795548; color:white; margin-left: 470px; padding-right: 10px;  margin-bottom: 30px;">  Step-C: DBOT </button>    

                </a> 

	  			
            </div>



       <div class="col">

	  	

	  			
	  				<a href="{% url 'payment1' %}">
                    
                  <button class="button button4" style="background-color:#795548; color:white; margin-left: 460px; padding-right: 10px;  margin-bottom: 30px;"> Step-D: Commit </button>    

                </a> 

	  		</div>

	  	</div>

	  --></div>
<br>
<br>

<hr>

<br>



<br>



	<br>

{% endblock %}
