{% extends 'co_servings/main.html' %}

{% load static %}



{% block content %}

<style type="text/css">
.button {

  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}



h6 {
    color: white;
  }


  h1 {
    color: white;

  }
 
  h4, h5, td {
    color: white;
  }
 


 


  
</style>
<body style="background-color: #0E0E2C; ">
<div class="container" style="background-color: #0E0E2C; margin-top: 90px;  max-width: 320px; " >

<h4><u>Basic Code Structure</u> </h4>
<br>
<h6 style="color: white">// SPDX-License-Identifier: MIT
pragma solidity ^0.8.0;</h6>

    <h6 style="color: white"><small>contract ProjectContract {
    address public owner;
    address public designBuildCompany;
    address[] public stakeholders;
    
    // Modifiers
    modifier onlyOwner() {
        require(msg.sender == owner, "Only the owner can call this function");
        _;
    }
    
    modifier onlyDesignBuildCompany() {
        require(msg.sender == designBuildCompany, "Only the Design-Build Company can call this function");
        _;
    }
    
    modifier onlyStakeholder() {
        bool isStakeholder = false;
        for (uint256 i = 0; i < stakeholders.length; i++) {
            if (msg.sender == stakeholders[i]) {
                isStakeholder = true;
                break;
            }
        }
        require(isStakeholder, "Only stakeholders can call this function");
        _;
    }</small></h6>
    
    <h6 style="color: white"><small>// Constructor
    constructor(address _designBuildCompany, address[] memory _stakeholders) {
        owner = msg.sender;
        designBuildCompany = _designBuildCompany;
        stakeholders = _stakeholders;
    }</small></h6>
    
    <h6 style="color: white"><small>// Functions
    
    function deposit() external payable {
        // Implement deposit logic for Crowdfunding, Collaterals, Liquidity Pool
    }
    
    function borrow() external onlyDesignBuildCompany {
        // Implement borrow logic for Construction Loans using Permissioned Private Blockchain financial Structure
    }
    
    function repayLoan(uint256 amount) external onlyDesignBuildCompany {
        // Implement repayLoan logic using Permissioned Private Blockchain Structure
    }
    
    function distributeProfit() external onlyStakeholder {
        // Implement distributeProfit logic among stakeholders using Permissioned Private Blockchain Structure
    }
    
    function transferOwnership(address newOwner) external onlyOwner {
        owner = newOwner;
    }
}</small></h6>

        <br>
        <br>
        <hr>
     <!--</div>
    </div>
  </div>-->
</div>
{% endblock %}
  
</body>



                
                    
               
            








