{% extends 'co_servings/main.html' %}

{% load static %}



{% block content %}

<style type="text/css">
.button {

  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}



h6 {
    color:black;
  }


  h1 {
    color: black;

  }
 
  h4, h5, td {
    color: black;
  }
 


 


  
</style>

<div class="container">
  <hr>

      <div class="row">

        <div class="col">

        
          <h5 style="color:black;">Contracts:</h5>
          <br>
        
          {% for i in value %}
          <tr>
          <a href="{% url 'ourcommunity2' %}">
                    
          <button class="button button4" style="color: blue;">Contracts</button></a> 

          <td>{{i.location}}</td>

          
          </tr>
        <br>
        <br>
        <hr>
        {% endfor %}
   </div> 




                
                    
               
            







{% endblock %}
