{% extends 'co_servings/main.html' %}

{% load static %}



{% block content %}

<style type="text/css">
.button {

  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}



h6 {
    color:black;
  }


  h1 {
    color: black;

  }
 
  h4, h5, td {
    color: black;
  }
 


 


  
</style>

<h2 style="margin-left: 330px; margin-top: 40px; "><strong>Design-Build-Operate-Finance:</strong> </h2>



<hr>

<h5 style="color:blue; margin-left: 50px;">"Project stakeholders in real estate developments use DBOF model to finance projects that reduce Co2 emissions by addressing the following issues in unison: "</h5>
      
     <br> 

  <div class="container">
  

      <div class="row">


        <div class="col">

        <h6 style="color:blue;">  1-GOVERNMENTS:</h6>
        <hr>
        <p style="color:darkred;"><em> Social Inequality </em>
        

        
      </div>

        <div class="col">

        <h6 style="color:blue;">2-INVESTORS:</h6>
        <hr>
        <p style="color:darkred;margin-left:-10Px"><em> Reducing  time and cost of real estate development </em>
        
        
      </div>

      

      <div class="col">

        <h6 style="color:blue;"> 3-PROPERTY OWNERS:</h6>
        <hr>
        <p style="color:darkred;"><em>Maximization of real estate profit based on the real purchasing power of 
users.
</em></p>
      
      </div>

      <div class="col">

        <h6 style="color:blue ;margin-left:40px; ">4-TENANTS:</h6>
        <hr>
        <p style="color:darkred; margin-left:20px;"><em> Rent Stabilization </em></p>

      

        
      </div>
      
      

      <div class="col">

        <h6 style="color:blue;">5-GUESTS:</h6>
        <hr>
        <p style="color:darkred; margin-left:-40px"><em> Collaborative Consumption.</em></p>

      

        
      </div>


      
    </div>

  </div>



<br>
<hr>

<br>
<br>
         

<hr>

 


<br>
<br>

 
<br>
<br>


  
<br>
<br>
<br>
<br>

{% endblock %}