{% extends 'co_servings/main.html' %}

{% load static %}



{% block content %}


<style type="text/css">
.button {

  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}



h6 {
    color:white;
    font-family: sans-serif;
   
    letter-spacing: -2%;
    font-size: 24px;

  }


  h1 {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: -2%;
    font-size: 64px;
  }
 
  h4, h5, td {
    color: white;
    font-family: sans-serif;

    letter-spacing: -2%;
    font-size: 24px;
  }
 


 


  
</style>

<body style="background-color: #0E0E2C; ">
<div class="container" style="background-color: #0E0E2C; margin-top: -30px;  max-width: 320px; " >  
<div>
<h4 style="margin-left: 0px; margin-top: 80px; color: lightgreen"><strong>Stakeholders:</strong> </h4>
</div>


<hr>
<div>
<h6 style="color:lightgreen;"> The major stakeholders of co-serving platform, which combines elements of reverse mortgage with a traditional saving account using defi structure to assist low-income individuals in purchasing their first homes, include:</h6>
<br>
<h5><u> Low-Income House Owner Borrowers</u></h5>
<h6 style="color:orange;">Primary Beneficieries of the platform.</h6>
<h5><u>Pension Funds</u></h5>
<h6 style="color:orange;">Play a key role as investors in the financial system.</h6>
<h5><u>Saving Accounts Banking</u></h5>
<h6 style="color:orange;">Play a role in facilitating the system's  financial operation.</h6>
<h5><u>Government or Regulatory Bodies</u></h5>
<h6 style="color:orange;">To ensure that the system complies with financial regulations.</h6>
<h5><u>Housing and Real Estate Industry</u></h5>
<h6 style="color:orange;">Are indirectly impacted as the system may influence how real estate transactions and property sales are structured.</h6>
<h5><u>Social Responsability Organizations</u></h5>
<h6 style="color:orange;">Nonprofits focused on social responsability advocate for this system. </h5>
</h6>
<h5><u>Financial Advisors and Conunselors</u></h5>
<h6 style="color:orange;">Support the platform to navigate the system.</h6>
<h5><u>Communities and Local Authorities</u></h5>
<h6 style="color:orange;">Local communities may have an interest in the system, as it can impact housing affordability.</h6>
<h5><u>Investors in Mortgage-Backed Securities</u></h5>
<h6 style="color:orange;">If the loans from the system are bundled into mortagage-backed securities(MBS), investors in these securities may also be stakeholders.</h6>

</div>
</div>

<!--"Stakeholders in real estate development projects use the Co-Serving "app for Dapp" platform to connect to a web3 blockchain technology, in order to promote transparency, decentralization, and community-driven development. The blockchain   helps to promote trust, accountability, and collaboration in social interactions."</h5>
</div>
<div>
<h5 style="color:lightgreen; margin-left: 0px;"> How does'it work:</h5>
</div>
<div>
<h5 style="color:lightgreen; margin-left: 50px;"> Step 1:&nbsp&nbspFill Up the Supply Section in Venus Protocol(VP)</h5>
<h5> VP is a decentralized money market protocol on the Binance Smart Chain that enables users to lend and borrow various cryptocurrencies, including stablecoins, using collateralized loans. InvestorA supplies assets to VP to earn interest on those assets. VP offers variable interest rates on supplied assets that are determined by the supply and demand for those assets on the protocol. To create Passive income: Supplying assets to VP can be a way to generate passive income without having to actively trade or invest in other assets. VP is built on the Binance Smart Chain,  a highly secure and decentralized blockchain,  where  assets "supply" are held in a secure and transparent manner.&nbspVP is designed to minimize risk for users by offering over-collateralized loans and a liquidation system that ensures that loans are fully backed at all time by collateral.</h5>
</div>
<div>
<h5 style="color:lightgreen; margin-left: 50px;"> Step 2:&nbsp&nbsp InvestorB provides assets to the Borrow Section in VP</h5>
 
<h5> When the VP's Supply Section  reaches the value of $15M  in BNB coin, InvestorB adds $10M to  InvestorA'Wallet to be deposited in the Borrow Section of VP. &nbsp&nbsp InvestorB gains 6% return on the borrowed capital by BorrowerC.&nbsp&nbsp <strong>InvestorB takes  6 percent return on the loaned capital, but does not share   in the profits of the project because his investment is guaranteed by the funds available in InvestorA's Wallet.</strong></h5></div>
<div>
<h5 style="color:lightgreen; margin-left: 50px;"> Step 3:&nbsp&nbsp BorrowerC takes a $10M loan at 6% interest from Borrow Section in VP</h5> 

<h5>BorrowerC selects a project type from the Catalogue and develops ProjectD. When ProjectD is finished he returns Loan+Interest to VP's Borrow Section. InvestorB can then take back his Investment+Interest from InvestorA's Wallet. BorrowerC  keeps 40% of profit and distributes 40% to InvestorA and 20% to the Co-Serving platform which managed and coded all transactions.<strong>&nbspThe property of ProjectD remains in InvestorA's Wallet untill all the smart contracts conditions are sucessfully resolved.</strong></h5></div>

<br>
<hr>
<br>
<div class="container" style="background-color: #0E0E2C ; margin-top: -70px; " >

<h2 style="color:white; margin-top: 0px;"><strong>Connecting Stackholders with Smart Contracts</strong> </h3>
    
<br>
<h3 style="color:white;margin-left: 100px; margin-top: 0px;">co-serving stakeholders interaction  </h3>
    
  


 <img src="{% static 'images/action.jpg' %}"
            style="
            width:1000px;
            height:600px;
            border: solid 20px #0E0E2C;
            margin-left: 0px;"/>
    
</div>




<br>

<div class="container" style="background-color: #0E0E2C ; margin-top: -70px; " >


    
  


 <img src="{% static 'images/multichain.jpg' %}"
            style="
            width:1000px;
            height:600px;
            border: solid 20px #0E0E2C;
            margin-left: 0px;"/>
  <br>

  <h3 style="color:white;margin-left: 100px; margin-top: 0px;">co-serving smart contrancts money transfer system </h3> 
<br>
<br>
<br>

</div>





<br>
<hr>

<br>
<br>
         



 


<br>
<br>

 
<br>
<br>


  
<br>
<br>
<br>
<br>-->

{% endblock %}

</body>