{% extends 'co_servings/main.html' %}



{% load static %}



{% block content %}

 
  





<style type="text/css">
.button {

  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}



h6 {
    color:white;
  }


	h1 {
		color: white;

	}
 
	h4, h5, td {
		color: white;
	}
 


 

</style>

<!--<style>
  @media screen and (max-width: 500px) { 
    div{ font-size: x-small; 
     padding : 0px; color: white;}
  }
 




  </style>-->



<body style="background-color: #0E0E2C; ">


 <div class="container" style="background-color: #0E0E2C; ">


		 
	







     
            <h1 style="color:white;  margin-top: -40px; font-size: 80px ; margin-left: 150px "><strong> Co-Serving</strong><small style="color:lightgray;"> app for Dapp</small></h1>

             



			 			<br>
		<div style="display: flex; margin-left: 150px">
  <div style="flex: 1;"><h4 style=";color:lightgrey; margin-top: 10px; padding:10px;">decentralized network of real estate stakeholders, making the entire process of real estate development more trasparent, efficient, and secure </h4></div>
  <div style="flex: 1;"><img src="{% static 'images/green.png' %}"
            style="
            width:150px;
            height:150px;
            margin-left: 200px;
            
            background: #0E0E2C;"
          /></div>
	 		

</div>


			 		
			 		<br>

<style>
.stacked-buttons {
  display: block;
  text-align: center;
  width: 150px;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  margin: 10px auto;
}

.stacked-buttons:first-child {
  background-color:#FF8800;
  color:white;
}

.stacked-buttons:last-child {
  background-color:#0E0E2C;
  color:#FF8800;
}
</style>

<a href="{% url 'gin' %}">
  <button class="button button4 stacked-buttons">Stakeholders</button>
</a>

<a href="{% url 'pro' %}">
  <button class="button button4 stacked-buttons">Smart Contracts</button>
</a>
 <br>
 <br>


			 <!--<a href="{% url 'gin' %}">
                    
                  <button class="button button4" style="background-color:#FF8800; color:white; margin-left: 150px; margin-top: 10px; padding:5px;text-align: center; ">Stakeholders</button>   
                </a> 

                <br>

        <a href="{% url 'pro' %}">
                    
                  <button class="button button4" style="background-color:#0E0E2C; color:#FF8800; margin-left: 150px; padding:5px;text-align: center; ">Smart Contracts </button>    

                </a>-->	
			 	


<div class="container" style="background-color: #0E0E2C; margin-top: -30px; " >

<div style="display: flex; margin-left: 150px">
  
  <div style="flex: 1;"><h4 style=";color:white; margin-top: 10px; padding:10px;"><stong>What is Co-Serving? </stong></h4>
   <h6 style=";color:white; margin-top: 10px; padding:10px;">Welcome to the real estate development app browser designed to provide access to a multi_purpose decentralized application (Dapp) for the real estate sector</h6>
          /></div>
   <div style="flex: 1;">
   <h4 style=";color:white; margin-top: 10px; padding:10px;"><strong>How to start?</strong> </h4>
   <h6 style=";color:white; margin-top: 10px; padding:10px;">To get started, register by clicking the button below. This will enable you to add your own data to the project, collaborate with other stakeholders and become a member of our community shaping the future of this app.</h6>
   <br>
   </div>
	 		

</div>
			 			

           
</div>

			 		 
			 	



              


					
	<!--<div class="container" style="margin-left: 0px; background-color:#0E0E2C; text-align: justify;" >			
					
				<h4 style=" color:lightgrey; margin-top: 10px; padding:10px;"> To get started, register by clicking the button below. This will enable you to add your own data to the project, collaborate with other stakeholders and become a member  of our community shaping the future of this app.</h4> -->
				

				<style>
.stacked-buttons {
  display: block;
  text-align: center;
  width: 150px;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  margin: 10px auto;
}

.stacked-buttons:first-child {
  background-color:#FF8800;
  color:white;
}


</style>
<a href="{% url 'register_user' %}">

  <button class="button button4 stacked-buttons">Register</button>
</a>

	
	
<br>
    <div style="display: flex; margin-left: 150px">
      <div style="flex: 1;"><img src="{% static 'images/fbm.jpg' %}"
            style="
            width:150px;
            height:150px;
            margin-left: 0px;
            
            background: #0E0E2C;"
          /></div>
  <div style="flex: 1;"><h4 style=";color:lightgrey; margin-top: 10px; padding:10px;">At the heart of co-serving is the FBMtoken</h4>
  <h6 style=";color:white; margin-top: 10px; padding:10px;"> This native token is designed to help distribute development profits among stakeholders in a fair and transparent way. </h6></div>
  
      

</div>			
                    
              

							
	<!--<div  style="margin-left: : 400px" >

				

   				<a href="{% url 'ten' %}">
                    
                  <button class="button button4" style="background-color:#a1887f; color:orange; margin-left: 150px; padding:5px;   font-size: x-large;"><strong>Tenants' Rental Listings</strong>  </button>    

                </a> 
                <br>

                 <a href="{% url 'sub' %}">
                    
                  <button class="button button4" style="background-color:#a1887f; color:orange;  margin-left: 150px; margin-bottom: 10px; padding:5px; padding-right: 15px; font-size: x-large;"><strong>Guests' Rental Listings</strong> </button>    

                </a>
                <br> 

                

    </div>-->
	
     	
	</div>	

		
	
    <br>
     <br>
 
 
  

<hr>




</div>




            

           
</div>
<div style="background: #0E0E2C">


 <div class="container" style="background-color: grey; margin-top: -30px; position: relative; transform: translateX(5%);" >

<div style="display: flex; margin-left: 150px">
  
  <div style="flex: 1;">
  <a href="{% url 'impressum' %}" class="btn btn-grey btn-lg" style="color: #0E0E2C;">
          <span class="glyphicon glyphicon-envelope"></span> Contact 
        </a>
   <a href="{% url 'impressum' %}" class="btn btn-grey btn-lg" style="color: #0E0E2C;">
          <span class="glyphicon glyphicon-home"></span> Home
        </a> </div>
   <div style="flex: 1;">
   <a href="{% url 'impressum' %}" class="btn btn-grey btn-lg" style="color: #0E0E2C;">
          <span class="glyphicon glyphicon-file"></span> Legal 
        </a>
   <a href="{% url 'impressum' %}" class="btn btn-grey btn-lg" style="color: #0E0E2C;">
          <span class="glyphicon glyphicon-user"></span> Community
        </a>
   <br>
   </div>
      

</div>
<style>
.stacked-buttons {
  display: block;
  text-align: center;
  width: 150px;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  margin: 10px auto;
}

.stacked-buttons:first-child {
  background-color:#FF8800;
  color:white;
}


</style>
<a href="https://www.fbmtoken.com">

  <button class="button button4 stacked-buttons">FBMtoken</button>
</a>
</div>


{% endblock %}
</body>
