{% extends 'co_servings/main.html' %}



{% load static %}



{% block content %}

 
  





<style type="text/css">
.button {

  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}



h6 {
    color:white;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: -2%;
    font-size: 24px;

  }


	h1 {
		color: white;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: -2%;
    font-size: 64px;
	}
 
	h4, h5, td {
		color: white;
    font-family: sans-serif;
    
    letter-spacing: -2%;
    font-size: 24px;
	}
 


 

</style>





<body style="background-color: #0E0E2C; ">


 <div class="container" style="background-color: #0E0E2C; ">


		 
	







     
            <h1 style="color:white;  margin-top: 80px;  margin-left: 150px "><strong> Co-Serving</strong><small style="color:lightgray;"> app for Dapp</small></h1>

             



			 			<br>
		<div style="display: flex; margin-left: 150px">
  <div style="flex: 1;"><h4 style=";color:lightgrey; margin-top: 10px; padding:10px;"><!--decentralized network of real estate stakeholders, making the entire process of real estate development more trasparent, efficient, and secure  Are you tired of the traditional and outdated methods of managing real estate transactions? Do you want to streamline the process and ensure security and efficiency? Look no further than Co-Serving, the revolutionary platform that utilizes blockchain technology and AI smart contracts.-->Cut out the middleman and save time and money in real estate developments with web3 and AI. Conduct business directly with peers and eliminate unnecessary fees. Take control of your finances and make your transactions more  transparent, efficient, and secure to achieve your goals faster.</h4></div>
  <div style="flex: 1;"><img src="{% static 'images/green.png' %}"
            style="
            width:150px;
            height:150px;
            margin-left: 200px;
            
            background: #0E0E2C;"
          /></div>
	 		

</div>


			 		
			 		<br>

<style>
.stacked-buttons {
  display: block;
  text-align: center;
  width: 150px;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  margin: 10px auto;
}

.stacked-buttons:first-child {
  background-color:#FF8800;
  color:white;
}

.stacked-buttons:last-child {
  background-color:#0E0E2C;
  color:#FF8800;
}
</style>

<a href="{% url 'gin' %}">
  <button class="button button4 stacked-buttons">Stakeholders</button>
</a>

<a href="{% url 'pro' %}">
  <button class="button button4 stacked-buttons">Smart Contracts</button>
</a>
 <br>
 <br>


			
			 	


<div class="container" style="background-color: #0E0E2C; margin-top: -30px; " >

<div style="display: flex; margin-left: 150px">
  
  <div style="flex: 1;"><h4 style="color:lightgreen; margin-top: 10px; padding:10px;"><stong>What is Co-Serving? </strong></h4>
   <h6 style="color:white; margin-top: 10px; padding:10px;">Welcome to the real estate development<span style="color:lightgreen;"> app browser </span>designed to provide access to a multi_purpose decentralized application (Dapp) for the real estate sector</h6>
          /></div>
   <div style="flex: 1;">
   <h4 style="color:white; margin-top: 10px; padding:10px;">How to start?</h4>
   <h6 style="color:white; margin-top: 10px; padding:10px;">To get started, register by clicking the button below. This will enable you to add your own data to the project, collaborate with other stakeholders and become a member of our community shaping the future of this app.</h6>
   <br>
   </div>
	 		

</div>
			 			

           
</div>

			 		 
			 	



              


					


				<style>
.stacked-buttons {
  display: block;
  text-align: center;
  width: 150px;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  margin: 10px auto;
}

.stacked-buttons:first-child {
  background-color:#FF8800;
  color:white;
}


</style>
<a href="{% url 'register_user' %}">

  <button class="button button4 stacked-buttons">Register</button>
</a>

	
	
<br>
    <div style="display: flex; margin-left: 150px">
      <div style="flex: 1;"><img src="{% static 'images/fbm.jpg' %}"
            style="
            width:150px;
            height:150px;
            margin-left: 0px;
            
            background: #0E0E2C;"
          /></div>
  <div style="flex: 1;"><h4 style=";color:lightgrey; margin-top: 10px; padding:10px;">At the heart of co-serving is the FBMtoken</h4>
  <h6 style=";color:white; margin-top: 10px; padding:10px;"> This native token is designed to help distribute development profits among stakeholders in a fair and transparent way. </h6></div>
  
      

</div>			
                    
              

							
	
	
     	
	</div>	

		
	
  
 
 
  

<hr>






<style>
.stacked-buttons {
  display: block;
  text-align: center;
  width: 150px;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  margin: 10px auto;
}

.stacked-buttons:first-child {
  background-color:#FF8800;
  color:white;
}


</style>
<!--<a href="{% url 'report' %}">

  <button class="button button4 stacked-buttons">FBMtoken</button>
</a>-->
<a href="https://www.fbmtoken.com/">
  <button class="button button4 stacked-buttons">FBMtoken</button>
</a>

<br>
</div>

<br>
<br>




            

           
</div>
<div style="background: #0E0E2C">


 <div class="container" style="background-color: #0E0E2C; margin-top: -50px; position: relative; transform: translateX(5%);" >

<div style="display: flex; margin-left: 150px">
  
  <div style="flex: 1;">
  <a href="{% url 'impressum' %}" class="btn btn-grey btn-lg" style="color: orange;">
          <span class="glyphicon glyphicon-envelope"></span> Impressum 
        </a>
   <a href="{% url 'news2' %}" class="btn btn-grey btn-lg" style="color: orange;">
          <span class="glyphicon glyphicon-home"></span> Philosophy</a> </div>

   <div style="flex: 1;">
   <a href="{% url 'news3' %}" class="btn btn-grey btn-lg" style="color: orange;">
          <span class="glyphicon glyphicon-file"></span> Legal 
        </a>
   <a href="{% url 'news4' %}" class="btn btn-grey btn-lg" style="color: orange;">
          <span class="glyphicon glyphicon-user"></span> Community
        </a>
   <br>
   </div>
      

</div>

</div>

{% endblock %}
</body>
