{% extends 'co_servings/main.html' %}



{% load static %}



{% block content %}

 
  





<style type="text/css">
.button {

  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}



h6 {
    color:white;
  }


	h1 {
		color: white;

	}
 
	h4, h5, td {
		color: white;
	}
 


 

</style>

<!--<style>
  @media screen and (max-width: 500px) { 
    div{ font-size: x-small; 
     padding : 0px; color: white;}
  }
 




  </style>-->



<body style="background-color: #0E0E2C; ">


<div class="container" style="background-color: #0E0E2C; ">


		 
	







     
            <h1 style="color:white;  margin-top: -40px; font-size: 80px ; margin-left: 150px "><strong> Co-Serving</strong><small style="color:lightgray;"> app for Dapp</small></h1>

             



			 			<br>
			 		

<div class="container" style="margin-left: 0px;background-color: #0E0E2C; margin-top: -30px; text-align: justify; " >
		
			 		<h4 style="color:brown; margin-top: 10px; padding:10px; ">decentralized network of real estate stakeholders, making the entire process of real estate development more trasparent, efficient, and secure </h4>

			 	</div>

<div class="container" style="margin-left: 700px;background-color: #0E0E2C; margin-top: -30px;  " >


			 		<img src="{% static 'images/fbm.jpg' %}"
            style="
            width:150px;
            height:150px;
            
            
            background: #0E0E2C;"
          />
            <br>

</div>
			 		
			 		<br>

			 		
			 	


<div class="container" style="background-color: #0E0E2C; margin-top: -30px; text-align: justify; " >


			 			<h4 style="color:lightgrey; margin-top: 10px; padding:10px; "> The app is a user-friendly interface that facilitates the connection with a decentralized network of real estate stakeholders, making the entire process of real estate development more transparent, efficient, and secure:</h4> 


            <a href="{% url 'gin' %}">
                    
                  <button class="button button4" style="background-color:#0E0E2C; color:white; margin-left: 150px; margin-top: 10px; padding:5px; ">Stakeholders</button>   
                </a> 

                <br>

        <a href="{% url 'pro' %}">
                    
                  <button class="button button4" style="background-color:#0E0E2C; color:white; margin-left: 150px; padding:5px; ">Smart Contracts </button>    

                </a> 
</div>

			 		 
			 	



              


					
	<div class="container" style="margin-left: 0px; background-color:#0E0E2C; text-align: justify;" >			
					
				<h4 style=" color:lightgrey; margin-top: 10px; padding:10px;"> To get started, register by clicking the button below. This will enable you to add your own data to the project, collaborate with other stakeholders and become a member  of our community shaping the future of this app.</h4> 
				<br>	
	
			<a href="{% url 'register_user' %}">
                    
                  <button class="button button4" style="background-color:#0E0E2C; color:white; margin-left: 150px; padding:5px;  margin-bottom: 30px;">  REGISTER </button>    

                </a> 

							
	<!--<div  style="margin-left: : 400px" >

				

   				<a href="{% url 'ten' %}">
                    
                  <button class="button button4" style="background-color:#a1887f; color:orange; margin-left: 150px; padding:5px;   font-size: x-large;"><strong>Tenants' Rental Listings</strong>  </button>    

                </a> 
                <br>

                 <a href="{% url 'sub' %}">
                    
                  <button class="button button4" style="background-color:#a1887f; color:orange;  margin-left: 150px; margin-bottom: 10px; padding:5px; padding-right: 15px; font-size: x-large;"><strong>Guests' Rental Listings</strong> </button>    

                </a>
                <br> 

                

    </div>-->
	
     	
	</div>	

		
	
    <br>
     <br>
 
 
  

<hr>




</div>





{% endblock %}
</body>
