{% extends 'co_servings/main.html' %}
{% load static %}
{% block content %}
<style type="text/css">
.button {

  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}



h6 {
    color:white;
  }


  h1 {
    color: white;

  }
 
  h4, h5, td {
    color: white;
  }
 


 


  
</style>

<body style="background-color: #0E0E2C; ">


  <h1 style="color:red; margin-top: 150px;">Building Projects Presented by </h1>

  <hr>

  <h2 style="color:green;">Flex Building Model </h2>
  <div class="container" style="font-size: xx-small;">

<h6 style="color:lightgreen;">Flex Building Model - Design-Build Construction Company</h6>

<h6 style="color:grey;">At Flex Building Model, we specialize in delivering turn-key design-build solutions for commercial and residential construction projects. Our team of architects, engineers, and construction professionals are committed to providing quality, cost-effective solutions that exceed our clients' expectations.</h6>

<h6 style="color:lightgreen;">Our Services:</h6>
<h6 style="color:grey;">Architectural Design</h6>
<h6 style="color:grey;">Structural Engineering</h6>
<h6 style="color:grey;">Construction Management</h6>
<h6 style="color:grey;">General Contracting</h6>
<h6 style="color:grey;">Project Planning and Estimating</h6>

<h6 style="color:lightgreen;">Our Experience:</h6>

<h6 style="color:grey;">Over 20 years of combined experience in the construction industry
Successfully completed over 50 design-build projects of varying sizes and complexities
Strong relationships with local subcontractors and suppliers
A proven track record of delivering projects on time and within budget</h6>

<h6 style="color:lightgreen;">Our Approach:</h6>

<h6 style="color:grey;">A collaborative, team-oriented approach to project delivery
A commitment to open communication and transparency with our clients
A focus on innovation and sustainability in all aspects of our work</h6>


</div>
<style>
.stacked-buttons {
  display: block;
  text-align: center;
  width: 150px;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  margin: 10px auto;
}

.stacked-buttons:first-child {
  background-color:#FF8800;
  color:white;
}


</style>
<a href="x">

  <button class="button button4 stacked-buttons">Flex Building Model</button>
</a>

  <hr>

 <br>
<h2 style="color:green;">Flex Building Model Alternatives: </h2>
          <h3 style="color:green;">fbm-2</h3><h5 style="color:blue;"> "2-story building :"</h5> <h5>  4 duplexes/ cons.cost € 700.000 </h5>

          <img src="{% static 'images/building 5.PNG' %}"
            style="object-fit:contain;
            width:400px;
            height:300px;
            "/>


                
                  <a href="{% url 'plan' %}">
                    
                    <button class="button button4">Plans</button>    

                  </a> 

                  
                    
               
             <br>

          <br>

          <hr>
          <br>

          <h3 style="color:green;">fbm-3</h3><h5 style="color:blue;"> "4-story building :"</h5> <h5>  8 duplexes/ cons.cost € 1.000.000 </h5>

          <img src="{% static 'images/building 4.PNG' %}"
            style="object-fit:contain;
            width:400px;
            height:300px;
           "/>



                    <a href="{% url 'plan' %}">
                    
                      <button class="button button4">Plans</button>    

                    </a> 

                  
              

          <br>
          <br>
         

    <hr>
          

          <br>
          <br>
          <h3 style="color:green;">fbm-6</h3><h5 style="color:blue;"> "6-story building :"</h5> <h5>  12 duplexes/ cons.cost € 2.000.000 </h5>



          <img src="{% static 'images/building 3.PNG' %}"
            style="object-fit:contain;
            width:400px;
            height:300px;
           "/>



                    
                <a href="{% url 'plan' %}">
                    
                  <button class="button button4">Plans</button>    

                </a> 

                
                
          <br>
          <br>

         

  
     <hr>
          <br>

          <h3 style="color:green;">fbm-10</h3><h5 style="color:blue;"> " fbm-3+fbm-6= 10-story development :"</h5> <h5>  20 duplexes/ cons.cost € 3.000.000 </h5>

          <img src="{% static 'images/building 6.PNG' %}"
            style="object-fit:contain;
            width:400px;
            height:300px;
            "/>

               


                    <a href="{% url 'plan' %}">
                    
                      <button class="button button4">Plans</button>    

                    </a> 

                  
                   
               

          <br>
          <br>

      <hr>
          <br>

          <h3 style="color:green;">fbm-16</h3><h5 style="color:blue;"> "fbm-3+fbm-6+fbm-6= 16-story development :"</h5> <h5>  32 duplexes/ cons.cost € 5.000.000 </h5>

          <img src="{% static 'images/building 7.PNG' %}"
            style="object-fit:contain;
            width:400px;
            height:300px;
           "/>

                
                    <a href="{% url 'plan' %}">
                    
                      <button class="button button4">Plans</button>    

                    </a> 

                  
                   
               

          <br>
          <br> 
          
  
         
{% endblock %}
</body>