{% extends 'co_servings/main.html' %}
{% load static %}
{% block content %}
<style type="text/css">
.button {

  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}



h6 {
    color:white;
  }


  h1 {
    color: white;

  }
 
  h4, h5, td {
    color: white;
  }
 


 


  
</style>

<body style="background-color: #0E0E2C; ">


  <h1 style="color:red; margin-top: 150px;">Building Types Presented by </h1>

  <hr>

  <h2 style="color:green;">Flex Building Model </h2>
  <div class="container" style="font-size: xx-small;">
    
<h1 style="color:grey;">A design-build company responsible for managing a building project from the initial design stage to the final construction stage. Here are  the tasks that a Flex Building Model company includes when making a design-build building:</h1>
<h1 style="color:grey;">Pre-Construction Services:
The design-build company will work with the client to establish the project goals, budget, and schedule. They will also determine the site feasibility, secure permits and approvals, and perform environmental assessments.</h1>

<h1 style="color:grey;">Design Phase:
The design-build company will develop the design for the project based on the client's needs, budget, and schedule. This includes architectural, structural, mechanical, electrical, and plumbing designs. They will also work with the client to choose materials and finishes.</h1>


<h1 style="color:grey;">Value Engineering:
The design-build company will evaluate the design to ensure it meets the client's requirements and budget. They will suggest cost-saving measures that don't compromise the quality or functionality of the project.</h1>


<h1 style="color:grey;">Construction Phase:
The design-build company will manage the construction of the project. They will hire subcontractors, manage the construction schedule, and ensure the project is built according to the design and specifications.</h1>


<h1 style="color:grey;">Quality Control:
The design-build company will ensure the quality of the project by monitoring the construction process, conducting regular inspections, and addressing any issues that arise.</h1>


<h1 style="color:grey;">Project Closeout:
The design-build company will ensure that the project is completed on time, within budget, and to the client's satisfaction. They will also handle the final inspections, obtain final permits, and provide the client with all necessary documentation.</h1>


<h1 style="color:grey;">Post-Construction Services:
The design-build company will provide ongoing support to the Borrower-C after the project is completed. This includes addressing any warranty issues, providing maintenance and repair services, and ensuring the Borrower-C is satisfied with the final product.</h1>
</div>


  <hr>

 <br>
<h2 style="color:green;">Flex Building Model Alternatives: </h2>
          <h3 style="color:green;">fbm-2</h3><h5 style="color:blue;"> "2-story building :"</h5> <h5>  4 duplexes/ cons.cost € 700.000 </h5>

          <img src="{% static 'images/building 5.PNG' %}"
            style="object-fit:contain;
            width:400px;
            height:300px;
            "/>


                
                  <a href="{% url 'plan' %}">
                    
                    <button class="button button4">Plans</button>    

                  </a> 

                  
                    
               
             <br>

          <br>

          <hr>
          <br>

          <h3 style="color:green;">fbm-3</h3><h5 style="color:blue;"> "4-story building :"</h5> <h5>  8 duplexes/ cons.cost € 1.000.000 </h5>

          <img src="{% static 'images/building 4.PNG' %}"
            style="object-fit:contain;
            width:400px;
            height:300px;
           "/>



                    <a href="{% url 'plan' %}">
                    
                      <button class="button button4">Plans</button>    

                    </a> 

                  
              

          <br>
          <br>
         

    <hr>
          

          <br>
          <br>
          <h3 style="color:green;">fbm-6</h3><h5 style="color:blue;"> "6-story building :"</h5> <h5>  12 duplexes/ cons.cost € 2.000.000 </h5>



          <img src="{% static 'images/building 3.PNG' %}"
            style="object-fit:contain;
            width:400px;
            height:300px;
           "/>



                    
                <a href="{% url 'plan' %}">
                    
                  <button class="button button4">Plans</button>    

                </a> 

                
                
          <br>
          <br>

         

  
     <hr>
          <br>

          <h3 style="color:green;">fbm-10</h3><h5 style="color:blue;"> " fbm-3+fbm-6= 10-story development :"</h5> <h5>  20 duplexes/ cons.cost € 3.000.000 </h5>

          <img src="{% static 'images/building 6.PNG' %}"
            style="object-fit:contain;
            width:400px;
            height:300px;
            "/>

               


                    <a href="{% url 'plan' %}">
                    
                      <button class="button button4">Plans</button>    

                    </a> 

                  
                   
               

          <br>
          <br>

      <hr>
          <br>

          <h3 style="color:green;">fbm-16</h3><h5 style="color:blue;"> "fbm-3+fbm-6+fbm-6= 16-story development :"</h5> <h5>  32 duplexes/ cons.cost € 5.000.000 </h5>

          <img src="{% static 'images/building 7.PNG' %}"
            style="object-fit:contain;
            width:400px;
            height:300px;
           "/>

                
                    <a href="{% url 'plan' %}">
                    
                      <button class="button button4">Plans</button>    

                    </a> 

                  
                   
               

          <br>
          <br> 
          
  
         
{% endblock %}
</body>