{% extends 'co_servings/main.html' %}
{% load static %}
{% block content %}
<style type="text/css">
.button {

  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}



h6 {
    color:black;
  }


  h1 {
    color: black;

  }
 
  h4, h5, td {
    color: black;
  }
 


 


  
</style>





 

  <h2 style="color:green;">Hyperspace Projects </h2>

  <hr>

 <br>

          <h3 style="color:green;">1.1-milan/1: fbm-10</h3>

          <img src="{% static 'images/fbm10.PNG' %}"
            style="object-fit:contain;
            width:500px;
            height:500px;
            border: solid 3px #ccc"/>


                
                  

                  
                    
               
             <br>

          <br>

          <hr>
          <br>

          <h3 style="color:green;">1-florance/1: fbm-16</h3>

          <img src="{% static 'images/fbm16.PNG' %}"
            style="object-fit:contain;
            width:500px;
            height:500px;
            border: solid 3px #ccc"/>



                    

                  
              

          <br>
          <br>
         

    <hr>
          

          <br>
          <br>
          <h3 style="color:green;">2-berlin/1: fbm-2</h3>



          <img src="{% static 'images/fbm2.PNG' %}"
            style="object-fit:contain;
            width:500px;
            height:500px;
            border: solid 3px #ccc"/>



                    
                

                
                
          <br>
          <br>

         

  

{% endblock %}


