{% load static %}
<style>
ul {
  
  margin-top: 0px;
  margin-left: 0px;
}

.navbar-toggler-icon {
  color: orange;
}

.navbar-left {
  float: left;
}
</style>



<nav class="navbar navbar-expand-sm float-left navbar-light bg-#0E0E2C ">
  <a href="{% url 'home' %}" class="navbar-brand" style="color: lightgreen"> Co-Serving  
  </a>
    <img src="{% static 'images/green.png' %}" style="max-width: 80px;" alt="Green Image">
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon "></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'development1' %}"style="color: white;">How it Works</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'buildings' %}"style="color: brown;">Projects</a>
      </li>
      {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <!--<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
          <div class="dropdown-menu" aria-labelledby="userDropdown">-->
            <a class="dropdown-item" href="{% url 'venue' %}" style="color:orange;">Activities</a>
            <a class="dropdown-item" href="{% url 'payment2' %}" style="color:orange; margin-right: 30px;">Transfers</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}" style="color: white; margin-right: 60px">Logout</a>
          <!--</div>-->
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register_user' %}"style="color: white;">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}"style="color: white;">Login</a>
        </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'news1' %}"style="color: white;">Contact</a>
      </li>
    </ul>
  </div>
</nav>


<!--<nav class="navbar navbar-expand-sm navbar-light bg-#0E0E2C ">
  <a href="{% url 'home' %}">
    
    <button
      class="button button4"
      style="
      background-color: #0E0E2C;
        color: white;
        font-size: normal;
        font-style: normal;
        font-weight: 500;
        margin-left: 1px;
        margin-right: 1px; 
        padding-left: 1px; 
        padding-right: 1px; 
        margin-bottom: 0px;
        margin-top: 0px;
        box-shadow: none;
        border: none;"
        >
        <img src="{% static 'images/green.png' %}" style=" max-width: 80px; " alt="Green Image">

      Co-Serving
    </button>
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation">
   

  


  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"> 

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'development1' %}" style="color: white;"><strong>How it Works</strong></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'buildings' %}" style="color: brown;"><strong>Projects</strong></a>
      </li>

    
   



      {% if user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'logout' %}" style="color: white;">Logout</a>
      </li>
          
        <li class="nav-item active">  
          <a class="dropdown-item" href="{% url 'venue' %}" style="color:orange;"><strong>Activities</strong></a>
        </li>
        <li class="nav-item active"> 
          <a class="dropdown-item" href="{% url 'payment2' %}" style="color:orange;"><strong>Transfers</strong></a>
        </li>
      </div>
     

      {% else %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'register_user' %}" style="color: white;">Register</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}" style="color: white;">Login</a>
      </li>
      {% endif %}
      

     <li class="nav-item active">
        <a class="nav-link" href="{% url 'news1' %}" style="color: white;">Contact</a>


      </li>



    </ul>
  </div>

  
</nav>-->