{% load static %}
<style>
ul {
  
  margin-top: 0px;
  margin-left: 0px;
 
 
  
  
}


</style>

<nav class="navbar navbar-expand-sm navbar-light bg-#0E0E2C ">

 

  <a href="{% url 'home' %}">
    
    <button
      class="button button4"^
      style="
      background-color: #0E0E2C;
        color: white;
        font-size: normal;
        font-style: normal;
        font-weight: 500;
        margin-left: 10px; 
        padding: 30px;  
        margin-bottom: 0px;
        margin-top: 28px;
        box-shadow: none;
        border: none;"
        ><img src="{% static 'images/green.png' %}" style=" max-width: 80px; " alt="Green Image">

      Co-Serving
    </button>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" style="background-color: red; "></span>

  


  </button>

 <ul class="navbar-nav"> 

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'development1' %}" style="color: white;"><strong>How it Works</strong></a>


      </li>


      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <em style="color: brown;">Catalogue</em>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'buildings' %}">Building Types</a>
          <a class="dropdown-item" href="{% url 'stand' %}">Temporary Units</a>
        </div>
      </li>

   



      {% if user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'logout' %}" style="color: white;">Logout</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <strong style="color: white;"> Activities </strong>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          
          
          <a class="dropdown-item" href="{% url 'venue' %}"><u style="color:darkblue;"> Stakeholders Data </u></a>
          <a class="dropdown-item" href="{% url 'payment2' %}"><u style="color:darkblue;"> Transfer to Wallets </u></a>
        </div>
      </li>

      {% else %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'register_user' %}" style="color: white;">Register</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}" style="color: white;">Login</a>
      </li>
      {% endif %}
      

     <li class="nav-item active">
        <a class="nav-link" href="{% url 'news1' %}" style="color: white;">Contact</a>


      </li>



    </ul>
  </div>

  
</nav>