{% extends 'co_servings/main.html' %}

{% load static %}



{% block content %}

<body style="background-color: #0E0E2C; ">
<div style="text-align: justify;"> 
<p style="color: white">"Disclaimer: Co-Serving is not responsible for any fraudulent information that may be passed through our website due to malware or hacker activity. We take reasonable measures to ensure the security of our website and protect our users' information. However, we cannot guarantee that our website will always be free from unauthorized access or malicious activity. By using our website, you acknowledge and accept the risks associated with online activity and release Co-Serving from any liability for damages resulting from such activity."</p>
</div>
{% endblock %}

</body>
