{% extends 'co_servings/main.html' %}

{% load static %}



{% block content %}

<!--<body style="background-color: #0E0E2C; ">-->
<body style="background-image: linear-gradient(to right, #0E0E2C 0%, #008B8B 50%, #F0F8FF 100%);"> 
<div style="text-align: justify;">
<h4 style="color: white">Community objective:</h4>
<br>
<hr style="border: none;
    border-top: 1px solid #ccc;
    color: #333;
    background-color: #333;
    height: 1px;">     
<p style="color: white">Join our community of real estate stakeholders registered on the  co-serving platform. Here, you can exchange information, insights, and best practices with fellow professionals in the industry. Our community provides a space for networking, support, and collaboration, so that you can stay up-to-date with the latest trends and innovations in real estate. Connect with other professionals and take advantage of the collective knowledge and experience of our community. Join today and start contributing to the conversation!</p>
<br>
<hr style="border: none;
    border-top: 1px solid #ccc;
    color: #333;
    background-color: #333;
    height: 1px;">   
</div>
{% endblock %}

</body>
