{% extends 'co_servings/main.html' %}

{% load static %}



{% block content %}

<body style="background-color: #0E0E2C; ">
<div style="text-align: justify;">  
<p style="color: white">"Join our community of real estate stakeholders registered on the [Company Name] co-serving platform. Here, you can exchange information, insights, and best practices with fellow professionals in the industry. Our community provides a space for networking, support, and collaboration, so that you can stay up-to-date with the latest trends and innovations in real estate. Connect with other professionals and take advantage of the collective knowledge and experience of our community. Join today and start contributing to the conversation!"</p>
</div>
{% endblock %}

</body>
