{% extends 'co_servings/main.html' %}

{% load static %}



{% block content %}

<!--<body style="background-color: #0E0E2C; ">-->
<body style="background-image: linear-gradient(to right, #0E0E2C 0%, #008B8B 50%, #F0F8FF 100%);"> 
<div style="text-align: justify; margin-top: 180px">
<h4 style="color: white">Disclaimer:</h4> 
<br>
<hr style="border: none;
    border-top: 1px solid #ccc;
    color: #333;
    background-color: #333;
    height: 1px;">    
<p style="color: white">Co-Serving is not responsible for any fraudulent information that may be passed through our website due to malware or hacker activity. We take reasonable measures to ensure the security of our website and protect our users' information. However, we cannot guarantee that our website will always be free from unauthorized access or malicious activity. By using our website, you acknowledge and accept the risks associated with online activity and release Co-Serving from any liability for damages resulting from such activity.</p>
<br>
<hr style="border: none;
    border-top: 1px solid #ccc;
    color: #333;
    background-color: #333;
    height: 1px;">   
</div>
{% endblock %}

</body>
