{% extends 'co_servings/main.html' %}

{% load static %}



{% block content %}

<body style="background-color: #0E0E2C; ">
<div style="text-align: justify;"> 
<h4>Philosophy:</h4> 
<p style="color: white"> 
The real estate industry is a highly lucrative sector that generates billions of 
dollars in revenue every year. However, the traditional real estate 
investment process is often riddled with inefficiencies, high transaction 
costs, and a lack of transparency. Co-Serving aims to address these issues 
by leveraging blockchain technology to create a more secure, efficient, and 
cost-effective investment process.
&nbsp&nbsp
Co-Serving is a blockchain-based platform that allows real estate 
developers to raise capital from investors through our DApp. Our platform 
ensures that all parties involved in the real estate development process 
have access to the same information, which reduces the risk of fraud or 
mismanagement. Additionally, our platform provides enhanced liquidity and 
flexibility for investors to buy, sell or trade real estate tokens. Co-Serving 
generates revenue by charging a percentage of the profits earned through 
real estate development projects on our platform.
&nbsp&nbsp
Co-Serving will target real estate investors and developers who are seeking 
a more secure, efficient, and cost-effective way of managing real estate 
investments. Our marketing strategy will include targeted online 
advertising, email marketing campaigns, and social media outreach. We will 
also leverage our existing network of industry contacts to promote our 
platform.</p>
</div>
{% endblock %}

</body>
