{% extends 'co_servings/main.html' %}

{% load static %}



{% block content %}

<style type="text/css">
.button {

  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}



h6 {
    color:black;
  }


  h1 {
    color: black;

  }
 
  h4, h5, td {
    color: black;
  }
 


 


  
</style>


<div class="container" style="margin-top: -40px">
  <hr>

      <div class="row">

<div class="col" >
          <h3 style="color:green;">fbm-2:</h3><h5 style="color:blue;"> "2 story building :"</h5> <h5>  4 duplexes</h5>

          <img src="{% static 'images/building 5.PNG' %}"
            style="
            width:300px;
            height:200px;
            border: solid 3px #ccc"/>

          </div>
          
          <div>
          <h6 style="color:brown; margin-left:-760px; margin-top: 50px;"><strong><u>"flexrooms " :</u></strong></h6>
          <br>

          <h6 style="color:black; margin-left:-760px;">1 flex A = € 60 per day</h6>
          <h6 style="color:black; margin-left:-760px;">1 flex B = € 60 per day</h6>
          <h6 style="color:black; margin-left:-760px;">1 flex C = € 60 per day</h6>
          <h6 style="color:black; margin-left:-760px;">1 flex D = € 60 per day</h6>
           
        </div>

<div class="container">

 <div class="row">



  <div class="col" >

          <h5 style="color:blue; margin-top: 50px;"> "Entrance Level :"</h5> <h5>  4 flex units </h5>



          <img src="{% static 'images/entrance.PNG' %}"
            style="object-fit:contain;
            width:200px;
            height:300px;
            border: solid 3px #ccc"/>


        <br>
        <br>

      </div>



</div>

    

  <div class="container">

    <br>

<br>
      
<br>  




 <div class="container" style="margin-left: : 105px; margin-bottom: -60px;" >
  
          <a href="{% url 'booking' %}">
                    
                  <button class="button button4" style="background-color:brown; color:white; margin-left: 420px; padding: 10px; margin-top: 40px;font-size: large;"> Select your Apartment </button>   
                </a> 
          
                
</div> 

<br>
<br>
      
<br>  

  <hr>

    



        <div class="col">

     

      

<div class="row" style="margin-top: 0px; margin-left: 250px;">
  <div class="col">
    <div class="col-ml">
      <div class="card text-left text-black mb-3" id="total-pools">
        <div class="card header">
          <h5 class="card-title" style="font-size: xx-large;">Booked</h5>
        </div>
        <div class="card-body">
           <div class="col">
                  <h5>Duplex number:</h5>
                  <br>

                  {% for i in venue %} 
        
                    <tr>
                    <td><strong style="color:grey">{{i.project}}</strong></td><br>
                    <td>{{i.duplex}}</td>
                    <td>{{i.number}}</td>
                    <td><em>{{i.name}}</em></td>
                    <td><h6>starting:</h6>{{i.starting}}</td>
                    <hr>
                    </tr>
          
                    <br>
                    {% endfor %}
            

                  

        

                </div>
        </div>
      </div>
    </div>
  </div>

  
</div>
      

         
      

      </div>
 
  


<div>

  <br>
 <br>
 <br>

 <br>








{% endblock %}