{% extends 'co_servings/main.html' %}
{% load static %}


{% block content %}
<style type="text/css">

   <style type="text/css">
.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}




h5 {
    color: black;
  }


  h1, h6 {
    color: black;
  }
 
  h4, h5, td {
    color: white;
  }


  
</style>



<body style="background-color: darkblue;">

{% load static %}

<h4>Co-Serving Transactions Verification:<h4>

<h4>For the purpose to deter frivolous or malicious uses of Co-Serving Program, Proof-of- Identity of Interest (PoIoI), provides a consensus made by any person or entity that has a one percent or more financial interest in the Development and in any entity providing services for a fee to the Development. Unless otherwise excluded, persons or entities that share in the net profits of the Development shall be construed as having an ownership interest to the extent that they share in Development or project revenues. The Identity of Interest definition shall not apply to the tax credit syndicator, limited partner investors, or professionals who are retained pursuant to a negotiated fee arrangement consistent with industry standards and which fee arrangement does not incorporate the payment of fees from Development operating revenues.
<h4>
  



{% endblock %}
