{% extends 'co_servings/main.html' %}

{% load static %}



{% block content %}

<style type="text/css">
.button {

  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}



h6 {
    color:black;
  }


  h1 {
    color: black;

  }
 
  h4, h5, td {
    color: black;
  }
 


 


  
</style>



 <h4> <strong>Bartering:</strong></h4>

<p><em><strong>A-By providing housekeeping services to the flexroom, tenants will receive a 50 percent rent reduction and 20 percent profit sharing.( see rent calculator).</em></strong></p>
<p style="margin-top: -10px;"><em><strong>B-He/She will provide a maximm of 45 minutes housekeeping services per day, as described in the SOP (Standard Operating Procedure) below:</em></strong></p>

<div class="container"style="
            width:1000px;
            height:230px;
            border: solid 10px lightblue;">


    <div class="row">
  

        <div class="col">



       	<h6><em>Hotel Housekeeping – Standard Procedures</em></h6>

<p> The efforts of housekeeping speak for themselves. The result of sincere as well as faux housekeeping efforts are noticeable. The housekeeping service provided according to Co-Serving bartering agreement,  needs to execute cleaning and maintenance tasks at various places inside the building. The most important task is cleaning and maintaining guest rooms and guest bathrooms. The guests assess the cleanliness in this area critically.
By following the best cleaning and maintenance practices, the housekeeping service can contribute to retain the satisfied guests as well as to generate new guests willing to repeat their visit to the building. This brings in more revenue to the building business. To perform towards guest satisfaction and work productivity together, the housekeeping service needs to structure the cleaning and maintenance procedures and follow them appropriately.
</p>




      
            
      

    </div>
</div>


<br>

<div class="container"style="
            width:1000px;
            height:200px;
            border: solid 10px #ccc;
            margin-left:-24px;">


    <div class="row">
  

        <div class="col">

      


       	<h6><em>SOP for Entering the Guest Room </em></h6>

<p> The housekeeper should follow the SOP given here for entering the guest room.
-Leave the DND (Do not Disturb) rooms undisturbed.
-Knock the door with knuckles and announce in pleasant  voice, “Housekeeping…”.
-Wait for five seconds to hear the guest’s response.
-In case of no response, announce the same again.
-In there is no answer second time too, open the door with the key.
-Enter the room.
-If the guest is found sleeping, withdraw from the room quietly.
-In case the guest answers, ask politely when would he like to service the room.
-In case the guest wants it later, acknowledge his reply and withdraw from the room.
-If the housekeeping work is in progress and the guest returns from outside, greet him and ask if the guest would like to return in some time.


.</p>
      </div>
</div>

<br>

<div class="container"style="
            width:1000px;
            height:340px;
            border: solid 10px orange;
            margin-left:-24px;">


    <div class="row">
  

        <div class="col">

    


       	<h6><em>SOPs for Cleaning the Guest Room.</em></h6>

<p> The SOP for cleaning the guest room is given here. Once the housekeeper enters the room and starts the housekeeping work, he must -Not use guest room linen as a door stopper or for cleaning and dusting the room.
-Keep the guest room door open while working.
-Open the curtains and patio door.
-Assemble the furniture and place appropriately.
-Keep the vacuum cleaner and other cleaning apparatus in the room.
-Take the bed linen of appropriate size and place it on the nearest chair.
-Remove previous bedspread and place on the chair.
-Inspect the bed and pillows for their condition as well as for any lost-and-found.
-In case of checkout room, deposit the left guest items to the floor. If the room is still occupied by the guest, place the item such that it is safe as well as visible to the guest.
-Empty ashtrays and rubbish from the guest room and bathroom dustbins into the trash cart of the trolley.
-Pick up used glasses, mugs, ashtray, trays, and place them on bathroom platform.
-Spray the bathtub, basin, glasses, mugs, and trays with cleaning liquid. Let them soak the chemicals from the liquid.
-Make the bed.
-Start dusting from an extreme inside corner of the room and work outwards.
-Clean wipe TV.
-Straighten the guest items.
-Sweep the room and patio floor.
-Mop the room and patio floor.
-Clean the glasses, mugs, and tray.
-Sanitize glasses, mugs, telephone device, and TV remote.
-Inspect the condition of bathroom slippers and bathrobe. Replace if soiled.
-Close the patio door.
-Close all the curtains.
-Clean the entrance door.
-Close and lock the room door.


</p>





            
      

    </div>
</div>

<br>

<div class="container"style="
            width:1000px;
            height:210px;
            border: solid 10px brown;
            margin-left:-24px;">


    <div class="row">
  

        <div class="col">

      


       	<h6><em>SOPs for Cleaning the Guest Bath Room</em></h6>

<p> The SOP for cleaning the guest bathroom is given here.

-Open bathroom ventilation.
-Sweep the bathroom floor.
-Scrub and finish the platform, bathtub, and basin.
-Scrub and finish the toilet bowl, rim, ring, and hinge.
-Wipe the mirror.
-Clean bathroom walls using wet mop or sponge.
-Replace amenities such as toilet roll, toilet block, shampoo, conditioners, and moisturizers.
-Replace bathroom mat.
-Wipe down shower curtain working from top to bottom with a dry cloth.
-Replace bath towels and hand towels.
-Replace the dustbin liner.
-Close the bathroom ventilation.-Clean the bathroom door.
-Keep the bathroom door open after cleaning.
-Check bathroom doormat. Replace if required.

</p>




 
      

    </div>
</div>

<br>
<div class="container"style="
            width:1000px;
            height:160px;
            border: solid 10px Lightgreen;
            margin-left:-24px;">


    <div class="row">
  

        <div class="col">

      




       <h6><em>SOPs for Cleaning Balcony / Patio</em></h6>

<p> The balcony or the patio are the extensions of the guest room. The SOPs for cleaning them are given below.

-Enter the balcony.
-Spray walls, railings
-Scrub and clean the bird droppings
-Wipe down rocking or sitting chairs and table
-Clean the door tracks appeared on the floor.
-Sweep the floor.
-Mop the floor.
</p>
 
      

    </div>
</div>

<br>

<br>
<div class="container"style="
            width:1000px;
            height:200px;
            border: solid 10px blue;
            margin-left:-24px;">


    <div class="row">
  

        <div class="col">

      




       <h6><em>SOPs for Do-Not-Disturb (DND) Rooms</em></h6>

<p> Every room has to be entered at least once a day by housekeeper The guests who do not want to get disturbed by any housekeeping service tag their rooms with a Do-Not-Disturb (DND) sign.
The SOP for these rooms is as given here. -Do not disturb by placing a call until 2:00 o’clock in the noon.
-After 2:00 p.m., the housekeeper calls the room to know the guest’s needs.
-The housekeeper contacts the supervisor to make sure whether to service the room.
-If the call was not answered by the guest after two calling attempts, the room is serviced.
-To his best judgement, the housekeeper enters the room and continues with the usual housekeeping work.


</p>
 
      

    </div>
</div>

<br>

<br>
<div class="container"style="
            width:1000px;
            height:200px;
            border: solid 10px black;
            margin-left:-24px;">


    <div class="row">
  

        <div class="col">

      




       <h6><em>Public Area Cleaning SOP</em></h6>

<p> There are various public areas frequented by the flex room guests. The areas and their respective SOPs for housekeeping are as given −This service must be coordinate between each floor tenants.

SOPs for Cleaning the Lifts
-Carry out the lift cleaning task early morning when the least number of guests are expected to use it.
-Call the elevator on the ground floor.
-Open its door.
-Put appropriate signboard near it.
-Clean the lift using the appropriate cleaning liquid according to the wall material of the lift cabin.
-Wipe the lift doors.
-Work from top to bottom while cleaning a lift cabin.
-Keep the lift door open till the floor and walls are dried completely.
-Spray clean air freshener.-


</p>
 
      

    </div>
</div>


            
      

    </div>

 <div class="container" style="margin-left: : 100px; margin-bottom: -60px;" >
  
          <a href="{% url 'payment2' %}">
                    
                  <button class="button button4" style="background-color:orange; color:white; margin-left: 325px; padding: 40px; margin-top: 40px;font-size: x-large;">Transfers & Payments </button>   
                </a> 
          
                
</div> 





{% endblock %}
