{% extends 'co_servings/main.html' %}

{% block content %}
<style type="text/css">
  /* Add this to your <style> tag or external CSS file */
  .form-field {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
  }

  h6 {
      color: lightgreen;
  }

  p {
      color: white;
  }
</style>
<body style="background-color: #0E0E2C;">
<div class="container" style="background-color: #0E0E2C; max-width: 320px;">
  {% if user.is_authenticated %}
    <div style="margin-left: 0px">
      <br><br>
      <h4 style="margin-left: 0px; margin-top: 80px; color: lightgreen"> Borrowing</h4>
      <br>
      <!-- Navbar content here -->
    </div>
  
    {% if submitted %}
      Your Borrowing was Submitted Successfully!!!
    {% else %}
      <form action="" style="color: white" method="POST">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-field">
            {{ field.label_tag }}
            {{ field }}
          </div>
        {% endfor %}
        <input type="submit" value="Submit" class="btn btn-secondary">
      </form>

      <ul>
    {% for liquidity in user_liquidity_submissions %}
        <li style="color: lightgreen">{{ liquidity.collateral_amount }}</li>
    {% endfor %}
      </ul>
      <br>
      <h6>Total Amounts:</h6>
      <p>Total Amount Crowdfunding 1: {{ total_amount_booking1 }}</p>
      <p>Total Amount Crowdfunding 2: {{ total_amount_booking2 }}</p>
      <p>Total Amount Crowdfunding 3: {{ total_amount_booking3 }}</p>
      <p>Total Amount Crowdfunding 4: {{ total_amount_booking4 }}</p>
    {% endif %}
    <br/>
  {% else %}
    <h1>Sorry! You Must Be Logged In To View This Page...</h1>
    <a href="{% url 'login' %}">Login Here</a>
  </div>
  {% endif %}
  <a href="{% url 'pro' %}">
  <button class="button button4 stacked-buttons">Smart Contracts</button>
</a>

</body>
{% endblock %}
