{% extends 'co_servings/main.html' %}
{% load static %}


{% block content %}
<style type="text/css">

   <style type="text/css">
.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}




h5 {
    color: black;
  }


  h1, h6 {
    color: black;
  }
 
  h4, h5, td {
    color: black;
  }


  
</style>



<body style="background-color: orange;">

{% load static %}


  <a href="https://access.ing.de/delogin/w/login?t=https://access.ing.de/delogin/oauth/authorize?response_type%3Dcode%26client_id%3Dibbr%26scope%3Dbanking%2520paydirekt%2520tpa%2520openid%26state%3DmPRxCK-U0TQkFU_NM0EPSEW3pn4ME_mmkL4sOQr3mik%253D%26redirect_uri%3Dhttps://banking.ing.de/app/login/oauth2/code/ibbr%26nonce%3DVh4og2hlEklw_Ab57an7xmPFWqzO6cF92gNZ8H5wGtM%26claims%3D%257B%2522id_token%2522%253A%257B%2522customer_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522partner_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522last_login%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522authentication_means%2522%253A%257B%2522essential%2522%253Atrue%257D%257D%257D"
              style="font-size: xx-large;"
              ><strong>click here to ING account: 1-milan/1</strong></a>
<br>

   <a href="https://access.ing.de/delogin/w/login?t=https://access.ing.de/delogin/oauth/authorize?response_type%3Dcode%26client_id%3Dibbr%26scope%3Dbanking%2520paydirekt%2520tpa%2520openid%26state%3DmPRxCK-U0TQkFU_NM0EPSEW3pn4ME_mmkL4sOQr3mik%253D%26redirect_uri%3Dhttps://banking.ing.de/app/login/oauth2/code/ibbr%26nonce%3DVh4og2hlEklw_Ab57an7xmPFWqzO6cF92gNZ8H5wGtM%26claims%3D%257B%2522id_token%2522%253A%257B%2522customer_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522partner_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522last_login%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522authentication_means%2522%253A%257B%2522essential%2522%253Atrue%257D%257D%257D"
              style="font-size: xx-large;"
              ><strong>click here to ING account: 2-berlin/1</strong></a>
<br>
   

<a href="https://access.ing.de/delogin/w/login?t=https://access.ing.de/delogin/oauth/authorize?response_type%3Dcode%26client_id%3Dibbr%26scope%3Dbanking%2520paydirekt%2520tpa%2520openid%26state%3DmPRxCK-U0TQkFU_NM0EPSEW3pn4ME_mmkL4sOQr3mik%253D%26redirect_uri%3Dhttps://banking.ing.de/app/login/oauth2/code/ibbr%26nonce%3DVh4og2hlEklw_Ab57an7xmPFWqzO6cF92gNZ8H5wGtM%26claims%3D%257B%2522id_token%2522%253A%257B%2522customer_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522partner_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522last_login%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522authentication_means%2522%253A%257B%2522essential%2522%253Atrue%257D%257D%257D"
              style="font-size: xx-large;"
              ><strong>click here to ING account: 1.1-florence/1</strong></a>
<br>










{% endblock %}

</body>