{% extends 'co_servings/main.html' %}
{% load static %}


{% block content %}
<style type="text/css">

   <style type="text/css">
.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}




h5 {
    color: white;
  }


  h1, h6 {
    color: white;
  }
 
  h4, h5, td {
    color: white;
  }


  
</style>



<!--<body style="background-color: orange;">-->
<body style="background-image: linear-gradient(to right, #0E0E2C 0%, #008B8B 50%, #F0F8FF 100%);">
{% load static %}

<h4 style="color:red; margin-top: 100px "><strong> Warning:</strong>"This page is for viewing only and is managed exclusively by Co-Serving. Unauthorized access or attempts to modify or alter the content of this webpage are strictly prohibited and may result in legal action. By accessing this webpage, you agree to comply with all applicable laws and regulations. Any violation of these terms may result in immediate termination of your access to this webpage. If you have any questions or concerns, please contact Co-Serving support for assistance.<h4>

<br>
<hr>
<br>

<h4> Project-D name/1 =:<h4>


  <a href="https://access.ing.de/delogin/w/login?t=https://access.ing.de/delogin/oauth/authorize?response_type%3Dcode%26client_id%3Dibbr%26scope%3Dbanking%2520paydirekt%2520tpa%2520openid%26state%3DmPRxCK-U0TQkFU_NM0EPSEW3pn4ME_mmkL4sOQr3mik%253D%26redirect_uri%3Dhttps://banking.ing.de/app/login/oauth2/code/ibbr%26nonce%3DVh4og2hlEklw_Ab57an7xmPFWqzO6cF92gNZ8H5wGtM%26claims%3D%257B%2522id_token%2522%253A%257B%2522customer_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522partner_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522last_login%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522authentication_means%2522%253A%257B%2522essential%2522%253Atrue%257D%257D%257D"
              style="font-size: large; color: black"
              ><strong>click here <en style= "color:orange">ING</en> account TO transfer Investor-A to account BNB Investor-A </strong></a>
              <a href="https://www.binance.com/en-AU"></a>
              <h6> status ammount = FIAT into BNB 0000 
                VALIDATED BY INVESTOR-A HARD WALLET <h6>
<br>

   <a href="https://www.binance.com/en-AU"
              style="font-size: large; color: black"
              ><strong>click here <en style= "color:orange"> BNB</en> account Investor-A TO transfer Investor-A  Wallet-A</strong></a>
              <h6> status ammount = BNB 0000 : VALIDATED BY INVESTOR-A HARD WALLET<h6>
<br>

<a href="https://www.binance.com/en-AU"
              style="font-size: large; color: black"
              ><strong>click here  FROM <en style= "color:orange">BNB</en> account Investor-B TO transfer Investor-A  Wallet-A</strong></a>
              <h6> status ammount = BNB 0000 : VALIDATED BY INVESTOR-B HARD WALLET<h6>
<br>

<a href="https://venus.io/"
              style="font-size: large; color: black"
              ><strong>click here  FROM Wallet-A Investor-A TO transfer BNB into <en style= "color:orange">Venus Protocol- Supply Section</en></strong></a>
              <h6> status ammount = BNB 0000 : VALIDATED BY INVESTOR-A HARD WALLET<h6>
<br>

<a href="https://venus.io/"
              style="font-size: large; color: black"
              ><strong>click here  FROM Wallet-A Investor-A TO transfer BNB into <en style= "color:orange">Venus Protocol- Borrow Section</en></strong></a>
              <h6> status ammount = BNB 0000 : VALIDATED BY INVESTOR-A HARD WALLET<h6>
<br>

<a href="https://venus.io/"
              style="font-size: large; color: black"
              ><strong>click here TO transfer FROM <en style= "color:orange">Venus Protocol Borrow Section</en> TO Borrower-C  Wallet-C</strong></a>
              <h6> status ammount = BNB 0000 :VALIDATED BY INVESTOR-C HARD WALLET<h6>
<br> 
<a href="https://venus.io/"
              style="font-size: large; color: black"
              ><strong>click here FROM account Borrower-C  Wallet-C TO transfer TO <en style= "color:orange">Venus Protocol Borrow Section</en>  </strong></a>
              <h6> status ammount = BNB 0000 :VALIDATED BY INVESTOR-C HARD WALLET<h6>
<br>     

<a href="https://venus.io/"
              style="font-size: large; color: black"
              ><strong>click here TO transfer from <en style= "color:orange">Venus Protocol- Borrower Section</en> TO Investor-A Wallet-A </strong></a>
              <h6> status ammount = BNB 0000 :VALIDATED BY INVESTOR-A HARD WALLET<h6>

<a href="https://www.binance.com/en-AU"
              style="font-size: large; color: black"
              ><strong>click here FROM   <en style= "color:orange">BNB</en> account Investor-A to transfer Investor-B  Wallet-A</strong></a>
              <h6> status ammount = BNB 0000 : VALIDATED BY INVESTOR-A HARD WALLET<h6>
<br>

<a href="https://www.binance.com/en-AU"
              style="font-size: large; color: black"
              ><strong>click here FROM   <en style= "color:orange">BNB</en> account Investor-A to transfer CO-SERVING  Wallet-D</strong></a>
              <h6> status ammount = BNB 0000 : VALIDATED BY INVESTOR-A HARD WALLET<h6>
<br>




{% endblock %}

</body>