{% extends 'co_servings/main.html' %}
{% load static %}


{% block content %}
<style type="text/css">

   <style type="text/css">
.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}




h5 {
    color: black;
  }


  h1, h6 {
    color: black;
  }
 
  h4, h5, td {
    color: black;
  }


  
</style>



<body style="background-color: orange;">

{% load static %}

<h4 style="color:red;"><strong> Warning:</strong>"This page is for viewing only and is managed exclusively by Co-Serving. Unauthorized access or attempts to modify or alter the content of this webpage are strictly prohibited and may result in legal action. By accessing this webpage, you agree to comply with all applicable laws and regulations. Any violation of these terms may result in immediate termination of your access to this webpage. If you have any questions or concerns, please contact Co-Serving support for assistance.<h4>

<br>
<hr>
<br>

<h4> Project-D name/1 =:<h4>


  <a href="https://access.ing.de/delogin/w/login?t=https://access.ing.de/delogin/oauth/authorize?response_type%3Dcode%26client_id%3Dibbr%26scope%3Dbanking%2520paydirekt%2520tpa%2520openid%26state%3DmPRxCK-U0TQkFU_NM0EPSEW3pn4ME_mmkL4sOQr3mik%253D%26redirect_uri%3Dhttps://banking.ing.de/app/login/oauth2/code/ibbr%26nonce%3DVh4og2hlEklw_Ab57an7xmPFWqzO6cF92gNZ8H5wGtM%26claims%3D%257B%2522id_token%2522%253A%257B%2522customer_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522partner_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522last_login%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522authentication_means%2522%253A%257B%2522essential%2522%253Atrue%257D%257D%257D"
              style="font-size: xx-large;"
              ><strong>click here ING account to transfer Investor-A TO  Wallet-A</strong></a>
              <h6> status ammount = BNB 0000 :<h4>
<br>

   <a href="https://access.ing.de/delogin/w/login?t=https://access.ing.de/delogin/oauth/authorize?response_type%3Dcode%26client_id%3Dibbr%26scope%3Dbanking%2520paydirekt%2520tpa%2520openid%26state%3DmPRxCK-U0TQkFU_NM0EPSEW3pn4ME_mmkL4sOQr3mik%253D%26redirect_uri%3Dhttps://banking.ing.de/app/login/oauth2/code/ibbr%26nonce%3DVh4og2hlEklw_Ab57an7xmPFWqzO6cF92gNZ8H5wGtM%26claims%3D%257B%2522id_token%2522%253A%257B%2522customer_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522partner_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522last_login%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522authentication_means%2522%253A%257B%2522essential%2522%253Atrue%257D%257D%257D"
              style="font-size: xx-large;"
              ><strong>click here  ING account to transfer Investor-B TO Wallet-A</strong></a>
              <h6> status ammount = BNB 0000 :<h4>
<br>
<a href="https://access.ing.de/delogin/w/login?t=https://access.ing.de/delogin/oauth/authorize?response_type%3Dcode%26client_id%3Dibbr%26scope%3Dbanking%2520paydirekt%2520tpa%2520openid%26state%3DmPRxCK-U0TQkFU_NM0EPSEW3pn4ME_mmkL4sOQr3mik%253D%26redirect_uri%3Dhttps://banking.ing.de/app/login/oauth2/code/ibbr%26nonce%3DVh4og2hlEklw_Ab57an7xmPFWqzO6cF92gNZ8H5wGtM%26claims%3D%257B%2522id_token%2522%253A%257B%2522customer_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522partner_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522last_login%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522authentication_means%2522%253A%257B%2522essential%2522%253Atrue%257D%257D%257D"
              style="font-size: xx-large;"
              ><strong>click here  ING account To transfer Venus Protocol Borrow Section TO Borrower-C TO Wallet-C</strong></a>
              <h6> status ammount = BNB 0000 :<h4>
<br>   

<a href="https://access.ing.de/delogin/w/login?t=https://access.ing.de/delogin/oauth/authorize?response_type%3Dcode%26client_id%3Dibbr%26scope%3Dbanking%2520paydirekt%2520tpa%2520openid%26state%3DmPRxCK-U0TQkFU_NM0EPSEW3pn4ME_mmkL4sOQr3mik%253D%26redirect_uri%3Dhttps://banking.ing.de/app/login/oauth2/code/ibbr%26nonce%3DVh4og2hlEklw_Ab57an7xmPFWqzO6cF92gNZ8H5wGtM%26claims%3D%257B%2522id_token%2522%253A%257B%2522customer_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522partner_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522last_login%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522authentication_means%2522%253A%257B%2522essential%2522%253Atrue%257D%257D%257D"
              style="font-size: xx-large;"
              ><strong>click here  ING account To transfer Borrower-C TO Wallet-A</strong></a>
              <h6> status ammount = BNB 0000 :<h4>
<br>
<a href="https://access.ing.de/delogin/w/login?t=https://access.ing.de/delogin/oauth/authorize?response_type%3Dcode%26client_id%3Dibbr%26scope%3Dbanking%2520paydirekt%2520tpa%2520openid%26state%3DmPRxCK-U0TQkFU_NM0EPSEW3pn4ME_mmkL4sOQr3mik%253D%26redirect_uri%3Dhttps://banking.ing.de/app/login/oauth2/code/ibbr%26nonce%3DVh4og2hlEklw_Ab57an7xmPFWqzO6cF92gNZ8H5wGtM%26claims%3D%257B%2522id_token%2522%253A%257B%2522customer_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522partner_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522last_login%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522authentication_means%2522%253A%257B%2522essential%2522%253Atrue%257D%257D%257D"
              style="font-size: xx-large;"
              ><strong>click here  ING account To transfer Borrower-C TO Wallet-CoServing</strong></a>
              <h6> status ammount = BNB 0000 :<h4>
<br>

<br>
<hr>
<h4> Project-D name/2 =:<h4>


  <a href="https://access.ing.de/delogin/w/login?t=https://access.ing.de/delogin/oauth/authorize?response_type%3Dcode%26client_id%3Dibbr%26scope%3Dbanking%2520paydirekt%2520tpa%2520openid%26state%3DmPRxCK-U0TQkFU_NM0EPSEW3pn4ME_mmkL4sOQr3mik%253D%26redirect_uri%3Dhttps://banking.ing.de/app/login/oauth2/code/ibbr%26nonce%3DVh4og2hlEklw_Ab57an7xmPFWqzO6cF92gNZ8H5wGtM%26claims%3D%257B%2522id_token%2522%253A%257B%2522customer_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522partner_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522last_login%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522authentication_means%2522%253A%257B%2522essential%2522%253Atrue%257D%257D%257D"
              style="font-size: xx-large;"
              ><strong>click here ING account to transfer Investor-A TO  Wallet-A</strong></a>
              <h6> status ammount = BNB 0000 :<h4>
<br>

   <a href="https://access.ing.de/delogin/w/login?t=https://access.ing.de/delogin/oauth/authorize?response_type%3Dcode%26client_id%3Dibbr%26scope%3Dbanking%2520paydirekt%2520tpa%2520openid%26state%3DmPRxCK-U0TQkFU_NM0EPSEW3pn4ME_mmkL4sOQr3mik%253D%26redirect_uri%3Dhttps://banking.ing.de/app/login/oauth2/code/ibbr%26nonce%3DVh4og2hlEklw_Ab57an7xmPFWqzO6cF92gNZ8H5wGtM%26claims%3D%257B%2522id_token%2522%253A%257B%2522customer_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522partner_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522last_login%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522authentication_means%2522%253A%257B%2522essential%2522%253Atrue%257D%257D%257D"
              style="font-size: xx-large;"
              ><strong>click here  ING account to transfer Investor-B TO Wallet-A</strong></a>
              <h6> status ammount = BNB 0000 :<h4>
<br>
<a href="https://access.ing.de/delogin/w/login?t=https://access.ing.de/delogin/oauth/authorize?response_type%3Dcode%26client_id%3Dibbr%26scope%3Dbanking%2520paydirekt%2520tpa%2520openid%26state%3DmPRxCK-U0TQkFU_NM0EPSEW3pn4ME_mmkL4sOQr3mik%253D%26redirect_uri%3Dhttps://banking.ing.de/app/login/oauth2/code/ibbr%26nonce%3DVh4og2hlEklw_Ab57an7xmPFWqzO6cF92gNZ8H5wGtM%26claims%3D%257B%2522id_token%2522%253A%257B%2522customer_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522partner_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522last_login%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522authentication_means%2522%253A%257B%2522essential%2522%253Atrue%257D%257D%257D"
              style="font-size: xx-large;"
              ><strong>click here  ING account To transfer Venus Protocol Borrow Section TO Borrower-C TO Wallet-C</strong></a>
              <h6> status ammount = BNB 0000 :<h4>
<br>   

<a href="https://access.ing.de/delogin/w/login?t=https://access.ing.de/delogin/oauth/authorize?response_type%3Dcode%26client_id%3Dibbr%26scope%3Dbanking%2520paydirekt%2520tpa%2520openid%26state%3DmPRxCK-U0TQkFU_NM0EPSEW3pn4ME_mmkL4sOQr3mik%253D%26redirect_uri%3Dhttps://banking.ing.de/app/login/oauth2/code/ibbr%26nonce%3DVh4og2hlEklw_Ab57an7xmPFWqzO6cF92gNZ8H5wGtM%26claims%3D%257B%2522id_token%2522%253A%257B%2522customer_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522partner_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522last_login%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522authentication_means%2522%253A%257B%2522essential%2522%253Atrue%257D%257D%257D"
              style="font-size: xx-large;"
              ><strong>click here  ING account To transfer Borrower-C TO Wallet-A</strong></a>
              <h6> status ammount = BNB 0000 :<h4>
<br>
<a href="https://access.ing.de/delogin/w/login?t=https://access.ing.de/delogin/oauth/authorize?response_type%3Dcode%26client_id%3Dibbr%26scope%3Dbanking%2520paydirekt%2520tpa%2520openid%26state%3DmPRxCK-U0TQkFU_NM0EPSEW3pn4ME_mmkL4sOQr3mik%253D%26redirect_uri%3Dhttps://banking.ing.de/app/login/oauth2/code/ibbr%26nonce%3DVh4og2hlEklw_Ab57an7xmPFWqzO6cF92gNZ8H5wGtM%26claims%3D%257B%2522id_token%2522%253A%257B%2522customer_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522partner_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522last_login%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522authentication_means%2522%253A%257B%2522essential%2522%253Atrue%257D%257D%257D"
              style="font-size: xx-large;"
              ><strong>click here  ING account To transfer Borrower-C TO Wallet-CoServing</strong></a>
              <h6> status ammount = BNB 0000 :<h4>
<br>

<br>
<hr>

<!--<h4> Transfers:<em>(see transactions)</em><h4>

<h5> Governments zone:</h5>

<a href="https://access.ing.de/delogin/w/login?t=https://access.ing.de/delogin/oauth/authorize?response_type%3Dcode%26client_id%3Dibbr%26scope%3Dbanking%2520paydirekt%2520tpa%2520openid%26state%3DmPRxCK-U0TQkFU_NM0EPSEW3pn4ME_mmkL4sOQr3mik%253D%26redirect_uri%3Dhttps://banking.ing.de/app/login/oauth2/code/ibbr%26nonce%3DVh4og2hlEklw_Ab57an7xmPFWqzO6cF92gNZ8H5wGtM%26claims%3D%257B%2522id_token%2522%253A%257B%2522customer_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522partner_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522last_login%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522authentication_means%2522%253A%257B%2522essential%2522%253Atrue%257D%257D%257D"
              style="font-size: x-large;"
              ><strong>click here to ING account: 1-milan/1/</strong>Government collateral public funds</a>
<br>


<a href="https://access.ing.de/delogin/w/login?t=https://access.ing.de/delogin/oauth/authorize?response_type%3Dcode%26client_id%3Dibbr%26scope%3Dbanking%2520paydirekt%2520tpa%2520openid%26state%3DmPRxCK-U0TQkFU_NM0EPSEW3pn4ME_mmkL4sOQr3mik%253D%26redirect_uri%3Dhttps://banking.ing.de/app/login/oauth2/code/ibbr%26nonce%3DVh4og2hlEklw_Ab57an7xmPFWqzO6cF92gNZ8H5wGtM%26claims%3D%257B%2522id_token%2522%253A%257B%2522customer_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522partner_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522last_login%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522authentication_means%2522%253A%257B%2522essential%2522%253Atrue%257D%257D%257D"
              style="font-size: x-large;"
              ><strong>click here to ING account: 2-Berlin/1/</strong>Government collateral public funds</a>
<br>

<a href="https://access.ing.de/delogin/w/login?t=https://access.ing.de/delogin/oauth/authorize?response_type%3Dcode%26client_id%3Dibbr%26scope%3Dbanking%2520paydirekt%2520tpa%2520openid%26state%3DmPRxCK-U0TQkFU_NM0EPSEW3pn4ME_mmkL4sOQr3mik%253D%26redirect_uri%3Dhttps://banking.ing.de/app/login/oauth2/code/ibbr%26nonce%3DVh4og2hlEklw_Ab57an7xmPFWqzO6cF92gNZ8H5wGtM%26claims%3D%257B%2522id_token%2522%253A%257B%2522customer_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522partner_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522last_login%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522authentication_means%2522%253A%257B%2522essential%2522%253Atrue%257D%257D%257D"
              style="font-size: x-large;"
              ><strong>click here to ING account: 1.1-florence/1/</strong>Government collateral public funds</a>
<br>

<a href="https://access.ing.de/delogin/w/login?t=https://access.ing.de/delogin/oauth/authorize?response_type%3Dcode%26client_id%3Dibbr%26scope%3Dbanking%2520paydirekt%2520tpa%2520openid%26state%3DmPRxCK-U0TQkFU_NM0EPSEW3pn4ME_mmkL4sOQr3mik%253D%26redirect_uri%3Dhttps://banking.ing.de/app/login/oauth2/code/ibbr%26nonce%3DVh4og2hlEklw_Ab57an7xmPFWqzO6cF92gNZ8H5wGtM%26claims%3D%257B%2522id_token%2522%253A%257B%2522customer_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522partner_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522last_login%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522authentication_means%2522%253A%257B%2522essential%2522%253Atrue%257D%257D%257D"
              style="font-size: x-large;"
              ><strong>click here to ING account: 1-milan/1/</strong>Government profit to  Co-Serving</a>
<br>


<a href="https://access.ing.de/delogin/w/login?t=https://access.ing.de/delogin/oauth/authorize?response_type%3Dcode%26client_id%3Dibbr%26scope%3Dbanking%2520paydirekt%2520tpa%2520openid%26state%3DmPRxCK-U0TQkFU_NM0EPSEW3pn4ME_mmkL4sOQr3mik%253D%26redirect_uri%3Dhttps://banking.ing.de/app/login/oauth2/code/ibbr%26nonce%3DVh4og2hlEklw_Ab57an7xmPFWqzO6cF92gNZ8H5wGtM%26claims%3D%257B%2522id_token%2522%253A%257B%2522customer_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522partner_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522last_login%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522authentication_means%2522%253A%257B%2522essential%2522%253Atrue%257D%257D%257D"
              style="font-size: x-large;"
              ><strong>click here to ING account: 2-Berlin/1/</strong>Government profit to  Co-Serving</a>
<br>

<a href="https://access.ing.de/delogin/w/login?t=https://access.ing.de/delogin/oauth/authorize?response_type%3Dcode%26client_id%3Dibbr%26scope%3Dbanking%2520paydirekt%2520tpa%2520openid%26state%3DmPRxCK-U0TQkFU_NM0EPSEW3pn4ME_mmkL4sOQr3mik%253D%26redirect_uri%3Dhttps://banking.ing.de/app/login/oauth2/code/ibbr%26nonce%3DVh4og2hlEklw_Ab57an7xmPFWqzO6cF92gNZ8H5wGtM%26claims%3D%257B%2522id_token%2522%253A%257B%2522customer_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522partner_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522last_login%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522authentication_means%2522%253A%257B%2522essential%2522%253Atrue%257D%257D%257D"
              style="font-size: x-large;"
              ><strong>click here to ING account: 1.1-florence/1/</strong>Government profit to  Co-Serving</a>
<br>
<a href="https://access.ing.de/delogin/w/login?t=https://access.ing.de/delogin/oauth/authorize?response_type%3Dcode%26client_id%3Dibbr%26scope%3Dbanking%2520paydirekt%2520tpa%2520openid%26state%3DmPRxCK-U0TQkFU_NM0EPSEW3pn4ME_mmkL4sOQr3mik%253D%26redirect_uri%3Dhttps://banking.ing.de/app/login/oauth2/code/ibbr%26nonce%3DVh4og2hlEklw_Ab57an7xmPFWqzO6cF92gNZ8H5wGtM%26claims%3D%257B%2522id_token%2522%253A%257B%2522customer_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522partner_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522last_login%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522authentication_means%2522%253A%257B%2522essential%2522%253Atrue%257D%257D%257D"
              style="font-size: x-large;"
              ><strong>click here to ING account: 1-milan/1/</strong>Government profit to  Property Owner</a>
<br>


<a href="https://access.ing.de/delogin/w/login?t=https://access.ing.de/delogin/oauth/authorize?response_type%3Dcode%26client_id%3Dibbr%26scope%3Dbanking%2520paydirekt%2520tpa%2520openid%26state%3DmPRxCK-U0TQkFU_NM0EPSEW3pn4ME_mmkL4sOQr3mik%253D%26redirect_uri%3Dhttps://banking.ing.de/app/login/oauth2/code/ibbr%26nonce%3DVh4og2hlEklw_Ab57an7xmPFWqzO6cF92gNZ8H5wGtM%26claims%3D%257B%2522id_token%2522%253A%257B%2522customer_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522partner_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522last_login%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522authentication_means%2522%253A%257B%2522essential%2522%253Atrue%257D%257D%257D"
              style="font-size: x-large;"
              ><strong>click here to ING account: 2-Berlin/1/</strong>Government profit to  Property Owner</a>
<br>

<a href="https://access.ing.de/delogin/w/login?t=https://access.ing.de/delogin/oauth/authorize?response_type%3Dcode%26client_id%3Dibbr%26scope%3Dbanking%2520paydirekt%2520tpa%2520openid%26state%3DmPRxCK-U0TQkFU_NM0EPSEW3pn4ME_mmkL4sOQr3mik%253D%26redirect_uri%3Dhttps://banking.ing.de/app/login/oauth2/code/ibbr%26nonce%3DVh4og2hlEklw_Ab57an7xmPFWqzO6cF92gNZ8H5wGtM%26claims%3D%257B%2522id_token%2522%253A%257B%2522customer_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522partner_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522last_login%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522authentication_means%2522%253A%257B%2522essential%2522%253Atrue%257D%257D%257D"
              style="font-size: x-large;"
              ><strong>click here to ING account: 1.1-florence/1/</strong>Government profit to  Property Owner</a>
<br>

<a href="https://access.ing.de/delogin/w/login?t=https://access.ing.de/delogin/oauth/authorize?response_type%3Dcode%26client_id%3Dibbr%26scope%3Dbanking%2520paydirekt%2520tpa%2520openid%26state%3DmPRxCK-U0TQkFU_NM0EPSEW3pn4ME_mmkL4sOQr3mik%253D%26redirect_uri%3Dhttps://banking.ing.de/app/login/oauth2/code/ibbr%26nonce%3DVh4og2hlEklw_Ab57an7xmPFWqzO6cF92gNZ8H5wGtM%26claims%3D%257B%2522id_token%2522%253A%257B%2522customer_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522partner_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522last_login%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522authentication_means%2522%253A%257B%2522essential%2522%253Atrue%257D%257D%257D"
              style="font-size: x-large;"
              ><strong>click here to ING account: 1-milan/1/</strong>Government profit to  Tenant</a>
<br>


<a href="https://access.ing.de/delogin/w/login?t=https://access.ing.de/delogin/oauth/authorize?response_type%3Dcode%26client_id%3Dibbr%26scope%3Dbanking%2520paydirekt%2520tpa%2520openid%26state%3DmPRxCK-U0TQkFU_NM0EPSEW3pn4ME_mmkL4sOQr3mik%253D%26redirect_uri%3Dhttps://banking.ing.de/app/login/oauth2/code/ibbr%26nonce%3DVh4og2hlEklw_Ab57an7xmPFWqzO6cF92gNZ8H5wGtM%26claims%3D%257B%2522id_token%2522%253A%257B%2522customer_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522partner_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522last_login%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522authentication_means%2522%253A%257B%2522essential%2522%253Atrue%257D%257D%257D"
              style="font-size: x-large;"
              ><strong>click here to ING account: 2-Berlin/1/</strong>Government profit to  Tenant</a>
<br>

<a href="https://access.ing.de/delogin/w/login?t=https://access.ing.de/delogin/oauth/authorize?response_type%3Dcode%26client_id%3Dibbr%26scope%3Dbanking%2520paydirekt%2520tpa%2520openid%26state%3DmPRxCK-U0TQkFU_NM0EPSEW3pn4ME_mmkL4sOQr3mik%253D%26redirect_uri%3Dhttps://banking.ing.de/app/login/oauth2/code/ibbr%26nonce%3DVh4og2hlEklw_Ab57an7xmPFWqzO6cF92gNZ8H5wGtM%26claims%3D%257B%2522id_token%2522%253A%257B%2522customer_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522partner_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522last_login%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522authentication_means%2522%253A%257B%2522essential%2522%253Atrue%257D%257D%257D"
              style="font-size: x-large;"
              ><strong>click here to ING account: 1.1-florence/1/</strong>Government profit to  Tenant</a>
<br>

<hr>

<h5> Investors zone:</h5>

<a href="https://access.ing.de/delogin/w/login?t=https://access.ing.de/delogin/oauth/authorize?response_type%3Dcode%26client_id%3Dibbr%26scope%3Dbanking%2520paydirekt%2520tpa%2520openid%26state%3DmPRxCK-U0TQkFU_NM0EPSEW3pn4ME_mmkL4sOQr3mik%253D%26redirect_uri%3Dhttps://banking.ing.de/app/login/oauth2/code/ibbr%26nonce%3DVh4og2hlEklw_Ab57an7xmPFWqzO6cF92gNZ8H5wGtM%26claims%3D%257B%2522id_token%2522%253A%257B%2522customer_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522partner_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522last_login%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522authentication_means%2522%253A%257B%2522essential%2522%253Atrue%257D%257D%257D"
              style="font-size: x-large;"
              ><strong>click here to ING account: 1-milan/1/</strong>Investor capital</a>
<br>


<a href="https://access.ing.de/delogin/w/login?t=https://access.ing.de/delogin/oauth/authorize?response_type%3Dcode%26client_id%3Dibbr%26scope%3Dbanking%2520paydirekt%2520tpa%2520openid%26state%3DmPRxCK-U0TQkFU_NM0EPSEW3pn4ME_mmkL4sOQr3mik%253D%26redirect_uri%3Dhttps://banking.ing.de/app/login/oauth2/code/ibbr%26nonce%3DVh4og2hlEklw_Ab57an7xmPFWqzO6cF92gNZ8H5wGtM%26claims%3D%257B%2522id_token%2522%253A%257B%2522customer_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522partner_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522last_login%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522authentication_means%2522%253A%257B%2522essential%2522%253Atrue%257D%257D%257D"
              style="font-size: x-large;"
              ><strong>click here to ING account: 2-Berlin/1/</strong>Investor capital</a>
<br>

<a href="https://access.ing.de/delogin/w/login?t=https://access.ing.de/delogin/oauth/authorize?response_type%3Dcode%26client_id%3Dibbr%26scope%3Dbanking%2520paydirekt%2520tpa%2520openid%26state%3DmPRxCK-U0TQkFU_NM0EPSEW3pn4ME_mmkL4sOQr3mik%253D%26redirect_uri%3Dhttps://banking.ing.de/app/login/oauth2/code/ibbr%26nonce%3DVh4og2hlEklw_Ab57an7xmPFWqzO6cF92gNZ8H5wGtM%26claims%3D%257B%2522id_token%2522%253A%257B%2522customer_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522partner_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522last_login%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522authentication_means%2522%253A%257B%2522essential%2522%253Atrue%257D%257D%257D"
              style="font-size: x-large;"
              ><strong>click here to ING account: 1.1-florence/1/</strong> Investor capital</a>
<br>


<a href="https://access.ing.de/delogin/w/login?t=https://access.ing.de/delogin/oauth/authorize?response_type%3Dcode%26client_id%3Dibbr%26scope%3Dbanking%2520paydirekt%2520tpa%2520openid%26state%3DmPRxCK-U0TQkFU_NM0EPSEW3pn4ME_mmkL4sOQr3mik%253D%26redirect_uri%3Dhttps://banking.ing.de/app/login/oauth2/code/ibbr%26nonce%3DVh4og2hlEklw_Ab57an7xmPFWqzO6cF92gNZ8H5wGtM%26claims%3D%257B%2522id_token%2522%253A%257B%2522customer_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522partner_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522last_login%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522authentication_means%2522%253A%257B%2522essential%2522%253Atrue%257D%257D%257D"
              style="font-size: x-large;"
              ><strong>click here to ING account: 1-milan/1/</strong>Investor development loan to property owner</a>
<br>


<a href="https://access.ing.de/delogin/w/login?t=https://access.ing.de/delogin/oauth/authorize?response_type%3Dcode%26client_id%3Dibbr%26scope%3Dbanking%2520paydirekt%2520tpa%2520openid%26state%3DmPRxCK-U0TQkFU_NM0EPSEW3pn4ME_mmkL4sOQr3mik%253D%26redirect_uri%3Dhttps://banking.ing.de/app/login/oauth2/code/ibbr%26nonce%3DVh4og2hlEklw_Ab57an7xmPFWqzO6cF92gNZ8H5wGtM%26claims%3D%257B%2522id_token%2522%253A%257B%2522customer_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522partner_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522last_login%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522authentication_means%2522%253A%257B%2522essential%2522%253Atrue%257D%257D%257D"
              style="font-size: x-large;"
              ><strong>click here to ING account: 2-Berlin/1/</strong>Investor development loan to property owner</a>
<br>

<a href="https://access.ing.de/delogin/w/login?t=https://access.ing.de/delogin/oauth/authorize?response_type%3Dcode%26client_id%3Dibbr%26scope%3Dbanking%2520paydirekt%2520tpa%2520openid%26state%3DmPRxCK-U0TQkFU_NM0EPSEW3pn4ME_mmkL4sOQr3mik%253D%26redirect_uri%3Dhttps://banking.ing.de/app/login/oauth2/code/ibbr%26nonce%3DVh4og2hlEklw_Ab57an7xmPFWqzO6cF92gNZ8H5wGtM%26claims%3D%257B%2522id_token%2522%253A%257B%2522customer_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522partner_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522last_login%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522authentication_means%2522%253A%257B%2522essential%2522%253Atrue%257D%257D%257D"
              style="font-size: x-large;"
              ><strong>click here to ING account: 1.1-florence/1/</strong>Investor development loan to property owner</a>
<br>

<hr>

<h5> Property Owners zone:</h5>

<a href="https://access.ing.de/delogin/w/login?t=https://access.ing.de/delogin/oauth/authorize?response_type%3Dcode%26client_id%3Dibbr%26scope%3Dbanking%2520paydirekt%2520tpa%2520openid%26state%3DmPRxCK-U0TQkFU_NM0EPSEW3pn4ME_mmkL4sOQr3mik%253D%26redirect_uri%3Dhttps://banking.ing.de/app/login/oauth2/code/ibbr%26nonce%3DVh4og2hlEklw_Ab57an7xmPFWqzO6cF92gNZ8H5wGtM%26claims%3D%257B%2522id_token%2522%253A%257B%2522customer_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522partner_number%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522last_login%2522%253A%257B%2522essential%2522%253Atrue%257D%252C%2522authentication_means%2522%253A%257B%2522essential%2522%253Atrue%257D%257D%257D"
              style="font-size: x-large;"
              ><strong>click here to ING account: 1-milan/1/</strong>Property Owner to Design-Build Firm</a>
--><br>






{% endblock %}

</body>