{% extends 'co_servings/main.html' %}
{% load static %}


{% block content %}
<style type="text/css">

   <style type="text/css">
.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}




h5 {
    color: black;
  }


  h1, h6 {
    color: black;
  }
 
  h4, h5, td {
    color: black;
  }


  
</style>

{% load static %}







<br>



<body style="background-color: lightblue">

<div class="container">
     

      <h6 style="color:blue;margin-left: 0px; margin-top: -80px;"> <u>Real Estate Development Stakeholders use the following  BNB Smart Contracts based on Monitary Policy

        <br>
     

        <br>

        <p style="margin-left: 30px; color: black ; margin-top: -30px;"> 
        <h6><u>Important note:</u> </h6>
        <p><u><strong> Smart Contracts are  authomatically executed </u></strong> when  stakeholders' obbligations  are  signed and registered.</p>

    <hr>

    <h6> <strong>SC.1</strong> Government: <em>exchange Fiat into FBM tokens for selected project<em></h6>

    <h6> <strong>SC.2</strong>  Investor: <em>create Liquidity Pool between FBM and BNB tokens for selected project.&nbsp Liquidity Pool to be used by Property Owner to build selected project</em></h6>

     <h6><strong>SC.3</strong>  Property Owner: <em>exchange Fiat selected project revenue into BNB tokens</em></h6>
     <h6> <strong>SC.4</strong> Tenant: <em>exchange Fiat rent in BNB tokens for selected project</em></h6>
    <h6> <strong>SC.5</strong> Tenant: <em>transfer BNB selected project rent tokens into Property owner wallet</em></h6>
    <h6> <strong>SC.6</strong>  Property Owner: <em>return BNB selected project borrowed tokens plus interests into Liquidity Pool</em></h6>
    <h6> <strong>SC.7</strong>  Property Owner: <em>return BNB selected project profit tokens  into Government Wallet in FBM tokens</em></h6>
    <h6> <strong>SC.8</strong>  Government: <em>return 20% of FMB selected project profit tokens  into Co-Serving Wallet</em></h6>
    <h6> <strong>SC.9</strong>  Government: <em>retain 40% of FMB selected project profit tokens  into Government Wallet</em></h6>
    <h6> <strong>SC.10</strong>  Government: <em>return 20% of FMB selected project profit tokens  into Property Owner Wallet</em></h6>
    <h6> <strong>SC.11</strong>  Government: <em>return 20% of FMB selected project profit tokens  into Tenant Wallet</em></h6>
        <hr>

   

  


      <div class="container" style="margin-left: : 100px; margin-bottom: -60px;" >
  
          <a href="{% url 'fbm' %}">
                    
                  <button class="button button4" style="background-color:darkgrey; color:white; margin-left: 150px; padding: 40px; margin-top: 40px;font-size: x-large;">  Smart Contracts </button>   
                </a> 
          
                
</div> 


<br>     
<br>

     








{% endblock %}