{% extends 'co_servings/main.html' %}
{% load static %}

{% block content %}
<style type="text/css">
    .button {
        background-color: #0E0E2C;
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
    }

    .button1 {border-radius: 2px;}
    .button2 {border-radius: 4px;}
    .button3 {border-radius: 8px;}
    .button4 {border-radius: 12px;}
    .button5 {border-radius: 50%;}

    h5 {
        color: white;
    }

    h1, h6 {
        color: white;
    }

    h4, h5, td {
        color: white;
    }
</style>

<body style="background-color: #0E0E2C">

<div class="container" style="background-color: #0E0E2C; margin-top: -30px; max-width: 320px;">
     

    <hr>
    <h5 style="margin-top: 80px">Approved Project:</h5>
    <ul>
    {% for payment1 in user_payment1 %}
        <li style="color: lightgreen">
            {{ payment1.Design_Build_Project }} - 
            {{ payment1.collateral_lender }} - 
            {{ payment1.crowdfunding }}
            (Sum: {{ liquidity.collateral_amount|add:payment1.crowdfunding }})
        </li>
    {% endfor %}
</ul>


</div>

<div class="container" style="margin-left: 100px; margin-bottom: -60px;">
    <a href="{% url 'fbm' %}">
        <button class="button button4" style="background-color: darkgrey; color: white; margin-left: 150px; padding: 40px; margin-top: 40px; font-size: x-large;">Smart Contracts</button>
    </a>
</div>

<br>
<br>

</body>
{% endblock %}


