{% extends 'co_servings/main.html' %}

{% block content %}
<style type="text/css">
.button {

  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}



h6 {
    color:white;
  }


  h1 {
    color: white;

  }
 
  h4, h5, td {
    color: white;
  }
 


 


  
</style>
<!--<body style="background-color: orange;">-->
<body style="background-image: linear-gradient(to right, #0E0E2C 0%, #008B8B 50%, #F0F8FF 100%);">
{% if user.is_authenticated %}

  <h1 style="margin-top: 150px">Stakeholders Information (SHI) </h1>
  <h4 style="color:red;"><strong> Warning:</strong>""The above data is for exclusive usage of Co-Serving and is protected by intellectual property laws. Any unauthorized access, use, disclosure, copying or distribution of this data is strictly prohibited and may result in legal action. By accessing this data, you agree to use it solely for the purposes of Co-Serving and to keep it confidential. Any violation of these terms may result in immediate termination of your access to this data and may also result in legal action. If you have any questions or concerns, please contact Co-Serving support for assistance."</h4>
  <br/><br/>
  {% if submitted %}

      Your Project was Submitted Succefully!!!

  {% else %}

	<form action=" " style=" color:white" method="POST">
	  	{% csrf_token %}

	  	{{ form.as_p }}

	  	<input type="submit" value="Submit" class="btn btn-secondary">

	</form>

   {% endif %}

<br/><br/>

{% else %}
<h1>Sorry! You Must Be Logged In To View This Page...</h1>
<a href="{% url 'login' %}">Login Here</a>

  
{% endif %}
<br>



{% endblock %}
</body>