{% extends 'co_servings/main.html' %}



{% load static %}



{% block content %}







<style type="text/css">
.button {

  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}


}



h6 {
    color:black;
  }


	h1 {
		color: black;
	}
 
	h4, h5, td {
		color: black;
	}


	
</style>




<body style="background-color: #ffd54f " >



{% if user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <strong> Activities </strong>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'pro' %}"><u style="color:darkblue;"> BNB Smart Contracts</u></a>
          <a class="dropdown-item" href="{% url 'payment2' %}"><u style="color:darkblue;"> Transfer to Wallets </u></a>
          <a class="dropdown-item" href="{% url 'venue' %}"><u style="color:darkblue;"> Stakeholders Data </u></a>

        </div>
      </li>

      {% else %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'register_user' %}">Register</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      {% endif %}
      
{% endblock %}
</body>
